<div class="mdc-card header">
    <div class="head-container">
      <div class="logo-content">
        <div class="logo">
            <a routerLink="/">
          <img src="../assets/images/logo-white.png" alt="company-logo">
          </a>
          <div class="ver-line"></div>
          <div class="content">
              <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
          </div>
          <div class="sign-in">
            <button>SIGN IN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="attributes">
  
    <div class="mdc-card">
      <div class="industry">
        <h6 class="mdc-typography--headline6">Please fill in the form with your correct details</h6>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <!-- <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/single-02.png"> -->
          <input matInput placeholder="Enter your first name">
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <!-- <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/single-02.png"> -->
        <input matInput placeholder="Enter your last name">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Time Zone</mat-label>
          <mat-select placeholder="Select Time Zone">
              <mat-option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</mat-option>
              <mat-option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</mat-option>
              <mat-option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</mat-option>
              <mat-option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</mat-option>
              <mat-option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</mat-option>
              <mat-option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</mat-option>
              <mat-option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</mat-option>
              <mat-option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</mat-option>
              <mat-option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</mat-option>
              <mat-option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</mat-option>
              <mat-option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</mat-option>
              <mat-option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</mat-option>
              <mat-option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</mat-option>
              <mat-option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</mat-option>
              <mat-option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</mat-option>
              <mat-option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</mat-option>
              <mat-option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</mat-option>
              <mat-option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</mat-option>
              <mat-option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</mat-option>
              <mat-option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</mat-option>
              <mat-option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</mat-option>
              <mat-option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</mat-option>
              <mat-option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</mat-option>
              <mat-option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</mat-option>
              <mat-option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</mat-option>
              <mat-option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</mat-option>
              <mat-option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</mat-option>
              <mat-option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</mat-option>
              <mat-option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</mat-option>
              <mat-option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</mat-option>
              <mat-option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</mat-option>
              <mat-option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</mat-option>
              <mat-option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</mat-option>
              <mat-option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</mat-option>
              <mat-option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</mat-option>
              <mat-option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</mat-option>
              <mat-option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</mat-option>
              <mat-option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</mat-option>
              <mat-option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</mat-option>
              <mat-option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</mat-option>
              <mat-option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</mat-option>
              <mat-option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</mat-option>
              <mat-option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</mat-option>
              <mat-option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</mat-option>
              <mat-option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</mat-option>
              <mat-option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</mat-option>
              <mat-option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</mat-option>
              <mat-option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</mat-option>
              <mat-option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</mat-option>
              <mat-option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</mat-option>
              <mat-option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</mat-option>
              <mat-option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</mat-option>
              <mat-option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</mat-option>
              <mat-option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</mat-option>
              <mat-option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</mat-option>
              <mat-option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</mat-option>
              <mat-option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</mat-option>
              <mat-option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</mat-option>
              <mat-option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</mat-option>
              <mat-option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</mat-option>
              <mat-option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</mat-option>
              <mat-option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</mat-option>
              <mat-option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</mat-option>
              <mat-option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</mat-option>
              <mat-option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</mat-option>
              <mat-option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</mat-option>
              <mat-option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</mat-option>
              <mat-option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</mat-option>
              <mat-option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</mat-option>
              <mat-option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</mat-option>
              <mat-option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</mat-option>
              <mat-option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</mat-option>
              <mat-option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</mat-option>
              <mat-option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</mat-option>
              <mat-option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</mat-option>
              <mat-option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</mat-option>
              <mat-option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</mat-option>
              <mat-option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</mat-option>
              <mat-option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</mat-option>
              <mat-option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</mat-option>
              <mat-option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</mat-option>
              <mat-option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</mat-option>
          </mat-select>
        </mat-form-field>
              
        <mat-form-field appearance="outline">
            <mat-label>Industry</mat-label>
            <mat-select placeholder="Select Industry">
            <mat-option value="option">It</mat-option>
            <mat-option value="option">Telecomm</mat-option>
            <mat-option value="option">Hardware</mat-option>
          </mat-select>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <div class="agent-date">
          <ejs-daterangepicker id='daterangepicker' format='dd-MM-yyyy' placeholder='Select Availability Date'>
            </ejs-daterangepicker>
            </div>
            <!-- <div class="agent-time">
                <ejs-timepicker id='timepicker' placeholder='Enter Availability time'></ejs-timepicker>
            </div> -->
        <h6 class="mdc-typography--headline6">Availability Day</h6>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let day of days">
               <mat-checkbox>{{day}}</mat-checkbox>
               <div class="time-picker">
                  <h4>From</h4>
                  <ejs-timepicker id='timepicker' placeholder='Enter Availability time'></ejs-timepicker>
                  <h4>To</h4>
                  <ejs-timepicker id='timepicker' placeholder='Enter Availability time'></ejs-timepicker>
               </div>
            </mat-list-item>
          </mat-list>
          <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0" style="background-color: #FA60AD;">
                <div class="mdc-chip__text">
                  Submit</div>
              </div>
            </div>
      </div>
    </div>
  
    <div class="mdc-card footer">
      <div class="industry">
        <div class="elevation-demo-container foot">
          <div class="mdc-chip-set">
            <div class="mdc-chip go-back" tabindex="0">
              <div class="mdc-chip__text" style="color:black" (click)="goBack()">
                <fa-icon [icon]="faAngleLeft"></fa-icon>
                GO BACK
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  