
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 0% 10% 4% 10%;
    padding-top: 2%;
}


.elevation-demo-container.foot {
    float: left;
    display: flex;
}


.elevation-demo-container p.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #202020;
    text-align: left;
    /* margin: 0 0 0 8px; */
    font-family: sans-serif;
}
.mat-menu-item .menus {
    font-weight: 500;
    font-size: 18px;
    color: #2222ae;
    text-align: start;
}
.mat-menu-item {
    display: initial;
    line-height: 25px;
}

.mdc-card {
    background-color: #F0F0F0;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
/* .footer {
    height: 100px;
} */
.mdc-card.footer {
padding: 0% 0% 3% 0%;
background-color:white;
}

.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5% 0% 0% 0%;
}
.or .mdc-typography--headline5 {
    margin: 6px 14px 8px 14px;
    font-weight: 600;
}
.industry {
margin: 0px 10% 0px 10%;
}

.mdc-chip-set {
    padding: 8% 0% 0% 0%;
}

.or {
    padding: 9% 0% 8% 0%;
    display: flex;
}
.mdc-chip.go-back {
    background-color: #FFFFFF;
    padding: 7px 19px;
    margin: 20% 0px 0px 0px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mdc-card .right-chips {
    display: inline-flex !important;
    position: absolute;
    right: 8%;
}
.mat-form-field {
    margin: 0 4% 0% 0%;
    width: 25%;
    width: 29%;
}
.mdc-chip:hover {
    color: white;
}
.agent-date #daterangepicker {
    display: inline-block;
    width: 29%;
    margin: 0 45px 0px 0px;
    padding: 18px 0px 4px 0px;
    background: white;
}
.agent-date {
    display: contents;
}
.agent-time {
    display: contents;
}
.agent-time #timepicker {
display: inline-block;
width: 29%;
background: white;
margin: 0 45px 0px 0px;
padding: 18px 0px 4px 0px;
}
.time-picker {
    display: -webkit-box;
    position: absolute;
    right: 50%;
}
/* .time-picker #timepicker { */
/* background: white; */
/* margin: 0 45px 0px 0px;
padding: 18px 0px 4px 0px; */
/* } */
.time-picker h4 {
    margin: 8px;
    font-weight: 400;
}
.mat-list-item {
    height: 70px !important;
}
.mdc-chip-set {
    padding: unset;
    text-align: right;
}