<div class="mdc-card header">
  <div class="head-container">
    <div class="logo-content">
      <div class="logo">
          <a routerLink="/">
        <img src="../assets/images/logo-white.png" alt="company-logo">
        </a>
        <div class="ver-line"></div>
        <div class="content">
            <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
        </div>
        <div class="sign-in">
          <button>SIGN IN</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdc-card top">
  <div class="industry">
    <div class="elevation-demo-container">
      <h4 class="mdc-typography--headline4">Review order and fill in form</h4>
      <h6 class="mdc-typography--headline6">Please review the provided data and fill in the form with your contact details.</h6>
      <h6 class="mdc-typography--headline6 sol-type">Solution Type: <span style="font-weight:500">eCommerce Support</span></h6>
      <hr>
      <div class="elevation-demo-container">
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/factory copy.png">
              <h6 class="mdc-typography--headline6 target-type">Target Industry</h6>
            </div>
            <p class="heading">Automative</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/world copy.png">
              <h6 class="mdc-typography--headline6 target-type">Target Countries</h6>
            </div>
            <p class="heading">USA</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/language.png" style="padding: 5px 0 0 0">
              <h6 class="mdc-typography--headline6 target-type">Target Languages</h6>
            </div>
            <p class="heading">English Hindi</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/b-meeting.png">
              <h6 class="mdc-typography--headline6 target-type">Channels</h6>
            </div>
            <p class="heading">Phone, Email</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/check-in.png">
              <h6 class="mdc-typography--headline6 target-type">Project Duration</h6>
            </div>
            <p class="heading">3 Month </p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/Group 3.png">
              <h6 class="mdc-typography--headline6 target-type">No. of Agents</h6>
            </div>
            <p class="heading">12 Agents</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/round-dollar.png">
              <h6 class="mdc-typography--headline6 target-type"> Estimated Cost</h6>
            </div>
            <p class="heading">$ 6,000</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box;">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/time-clock.png">
              <h6 class="mdc-typography--headline6 target-type">Working Days & Hours</h6>
            </div>
            <p class="heading">9-17 GMT+2</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="attributes">

  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">Please fill in the form with your contact details</h6>
      <mat-form-field appearance="outline">
        <mat-label>First and last name</mat-label>
        <!-- <img src="../../assets/images/inspect/customer_support_platform/Page 1/Review_request/single-02.png"> -->
        <input matInput placeholder="Enter your first and last name">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Enter company name">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="Role">
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Director">Director</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Enter Phone Number">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Zip Code(for taxes?)</mat-label>
        <input matInput placeholder="Enter Zip Code">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
  </div>

  <div class="mdc-card footer">
    <div class="industry">
      <div class="elevation-demo-container foot">
        <div class="mdc-chip-set">
          <div class="mdc-chip go-back" tabindex="0">
            <div class="mdc-chip__text" style="color:black" (click)="goBack()">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
              GO BACK
            </div>
          </div>
        </div>
        <div class="right-chips">

          <div class="or">
              <h6 class="mdc-typography--headline6 target-type" style="font-size: 0.8rem">Estimated cost:</h6>
              <h5 class="mdc-typography--headline5 target-type">$6k</h5>
          </div>
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #FA60AD;" routerLink="/thank-you">
              <div class="mdc-chip__text">
                REQUEST A QUOTE</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>