
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 0% 10% 4% 10%;
    padding-top: 2%;
}
.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 5% 0% 1% 0%;
}

.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 2% 0%;
}

.mdc-card.top .mdc-typography--headline6.sol-type {
    color: #222222;
    font-size: 1.1rem;
    margin: 0 0 0 0;
}

.mdc-card.top .mdc-typography--headline6.target-type {
    font-size: 0.85rem;
    margin: -4px 0px 5px 8px;
}
/* .elevation-demo-surface img {
    width: 25%;
    height: 18%;
} */

.elevation-demo-container.foot {
    float: left;
    display: flex;
}
.elevation-demo-surface {
    display: inline-flex;
    /* justify-content: space-around; */
    /* min-height: 100px; */
    min-height: 70px;
    min-width: 260px;
    margin: 20px;
    align-items: center;
    background-color: white;
}

.elevation-demo-surface.chanel {
    justify-content: flex-start;
    margin: 0;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

/* .elevation-demo-surface .mdc-checkbox {
    padding: 15px 25px 30px 25px;
    margin: 5px 0px 0px 0px;
} */
/* .elevation-demo-surface img {
    padding: 0px 10px 7px 8px;
} */
elevation-demo-surface p {
    padding: 4px 11px 0px 11px;
}

.elevation-demo-container p.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #202020;
    text-align: left;
    /* margin: 0 0 0 8px; */
    font-family: sans-serif;
}
.mat-menu-item .menus {
    font-weight: 500;
    font-size: 18px;
    color: #2222ae;
    text-align: start;
}
.mat-menu-item {
    display: initial;
    line-height: 25px;
}
.mat-menu-panel {
    max-width: 228px !important;
    border: 1px solid #E19DBF;
}
.elevation-demo-container label.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #2222ae;
    text-align: center;
    cursor: pointer;
    padding: 0% 20px 0% 20px;
}
.mdc-card {
    background-color: #F0F0F0;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.footer {
    height: 100px;
}
.mdc-card.footer {
padding: 0% 0% 3% 0%;
background-color:white;
}

.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5% 0% 0% 0%;
}
.or .mdc-typography--headline5 {
    margin: 6px 14px 8px 14px;
    font-weight: 600;
}
.industry {
margin: 0px 10% 0px 10%;
}

.mdc-chip-set {
    padding: 8% 0% 0% 0%;
}

/* .mdc-chip {
    background-color: #9e9e9e12;
} */
.elevation-demo-surface fa-icon {
    padding: 5px 11px 0px 11px;
    font-size: 25px;
    color: grey;
}
.or {
    padding: 9% 0% 8% 0%;
    display: flex;
}
.mdc-chip.go-back {
    background-color: #FFFFFF;
    padding: 7px 19px;
    margin: 20% 0px 0px 0px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-chip.request-quote {
    padding: 0px 27px;
    font-size: 13px;
    font-weight: 500;
    background-color: #9e9e9e99
}

.mat-mini-fab {
    width: 26px;
    height: 26px;
    margin: 0px 4px 0 4px;
}
/* mat-mini-.faIc fab fa-icon {
    padding: 0px 0px 0px 4px;
    font-size: 14px;
} */
.mi-btn {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: none;
    background-color: #FA60AD;
	margin: 5px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    cursor: pointer;
}
.mi-btn.minus{
background-color: #DADADA
}
.mi-btn fa-icon {
    font-size: 14px;
    padding: 0px 1px 0px 1px;
}
.mi-btn.minus fa-icon {
    color: black
}
.mi-btn.plus fa-icon {
color: white
}
.mdc-card .right-chips {
    display: inline-flex !important;
    position: absolute;
    right: 8%;
}
.mat-form-field {
    margin: 0 4% 0% 0%;
    width: 25%;
    width: 29%;
}
.mdc-chip:hover {
    color: white;
}


.tgtInd .heading {
margin: 0 0 0 0;
}
.tgtInd img {
    width: 80%;
}