<div class="mdc-card header">
  <div class="head-container">
    <div class="logo-content">
      <div class="logo">
          <a routerLink="/">
        <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
        </a>
        <div class="ver-line"></div>
        <div class="content">
          <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
        </div>
        <span class="dashboard" routerLink="/home">DASHBOARD</span>
        <div class="sign-in">
          <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0">
              <div class="mdc-chip__text">Hello Ajay</div>
              <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdc-card top">
  <div class="industry">
    <div class="elevation-demo-container">
      <h4 class="mdc-typography--headline4">Check Your Elite Support Team</h4>
      <h6 class="mdc-typography--headline6">Talk to your agents.</h6>
    </div>
  </div>
</div>
<div class="attributes">
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">The list of your 10 agents? </h6>
      <div class="elevation-container" style="display: flex">
          <mat-card class="sol-card">
              <div style="display: flex">
                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
                <mat-card-header class="ecommerce">
                  <mat-card-title>Cody Banks</mat-card-title>
                  <p>ecommerce</p>
                  <p>Support Specialist</p>
                </mat-card-header>
              </div>
              <mat-card-content>
                <div style="display: flex">
                <p class="language">
                  Languages
                </p>
                <p class="more-info" (click)="moreInfo()">
                    More Info
                  </p>
                </div>
                <p class="agent-language">English, Hindi</p>
              </mat-card-content>
              <hr>
              <mat-card-actions style="text-align: center">
                <div class="action-d">
                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
                <p>Listen</p>
                </div>
              </mat-card-actions>
            </mat-card>

        <mat-card class="sol-card">
            <div style="display: flex">
              <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
              <mat-card-header class="ecommerce">
                <mat-card-title>Cody Banks</mat-card-title>
                <p>ecommerce</p>
                <p>Support Specialist</p>
              </mat-card-header>
            </div>
            <mat-card-content>
              <div style="display: flex">
              <p class="language">
                Languages
              </p>
              <p class="more-info" (click)="moreInfo()">
                  More Info
                </p>
              </div>
              <p class="agent-language">English, Hindi</p>
            </mat-card-content>
            <hr>
            <mat-card-actions style="text-align: center">
              <div class="action-d">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
              <p>Listen</p>
              </div>
            </mat-card-actions>
          </mat-card>
        <mat-card class="sol-card">
            <div style="display: flex">
              <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
              <mat-card-header class="ecommerce">
                <mat-card-title>Cody Banks</mat-card-title>
                <p>ecommerce</p>
                <p>Support Specialist</p>
              </mat-card-header>
            </div>
            <mat-card-content>
              <div style="display: flex">
              <p class="language">
                Languages
              </p>
              <p class="more-info" (click)="moreInfo()">
                  More Info
                </p>
              </div>
              <p class="agent-language">English, Hindi</p>
            </mat-card-content>
            <hr>
            <mat-card-actions style="text-align: center">
              <div class="action-d">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
              <p>Listen</p>
              </div>
            </mat-card-actions>
          </mat-card>
        <mat-card class="sol-card">
            <div style="display: flex">
              <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
              <mat-card-header class="ecommerce">
                <mat-card-title>Cody Banks</mat-card-title>
                <p>ecommerce</p>
                <p>Support Specialist</p>
              </mat-card-header>
            </div>
            <mat-card-content>
              <div style="display: flex">
              <p class="language">
                Languages
              </p>
              <p class="more-info" (click)="moreInfo()">
                  More Info
                </p>
              </div>
              <p class="agent-language">English, Hindi</p>
            </mat-card-content>
            <hr>
            <mat-card-actions style="text-align: center">
              <div class="action-d">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
              <p>Listen</p>
              </div>
            </mat-card-actions>
          </mat-card>
        <mat-card class="sol-card">
          <div style="display: flex">
            <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
            <mat-card-header class="ecommerce">
              <mat-card-title>Cody Banks</mat-card-title>
              <p>ecommerce</p>
              <p>Support Specialist</p>
            </mat-card-header>
          </div>
          <mat-card-content>
            <div style="display: flex">
            <p class="language">
              Languages
            </p>
            <p class="more-info" (click)="moreInfo()">
                More Info
              </p>
            </div>
            <p class="agent-language">English, Hindi</p>
          </mat-card-content>
          <hr>
          <mat-card-actions style="text-align: center">
            <div class="action-d">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
            <p>Listen</p>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="sol-card">
            <div style="display: flex">
              <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
              <mat-card-header class="ecommerce">
                <mat-card-title>Cody Banks</mat-card-title>
                <p>ecommerce</p>
                <p>Support Specialist</p>
              </mat-card-header>
            </div>
            <mat-card-content>
              <div style="display: flex">
              <p class="language">
                Languages
              </p>
              <p class="more-info" (click)="moreInfo()">
                  More Info
                </p>
              </div>
              <p class="agent-language">English, Hindi</p>
            </mat-card-content>
            <hr>
            <mat-card-actions style="text-align: center">
              <div class="action-d">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
              <p>Listen</p>
              </div>
            </mat-card-actions>
          </mat-card>
          <mat-card class="sol-card">
              <div style="display: flex">
                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
                <mat-card-header class="ecommerce">
                  <mat-card-title>Cody Banks</mat-card-title>
                  <p>ecommerce</p>
                  <p>Support Specialist</p>
                </mat-card-header>
              </div>
              <mat-card-content>
                <div style="display: flex">
                <p class="language">
                  Languages
                </p>
                <p class="more-info" (click)="moreInfo()">
                    More Info
                  </p>
                </div>
                <p class="agent-language">English, Hindi</p>
              </mat-card-content>
              <hr>
              <mat-card-actions style="text-align: center">
                <div class="action-d">
                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
                <p>Listen</p>
                </div>
              </mat-card-actions>
            </mat-card>
            <mat-card class="sol-card">
                <div style="display: flex">
                  <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
                  <mat-card-header class="ecommerce">
                    <mat-card-title>Cody Banks</mat-card-title>
                    <p>ecommerce</p>
                    <p>Support Specialist</p>
                  </mat-card-header>
                </div>
                <mat-card-content>
                  <div style="display: flex">
                  <p class="language">
                    Languages
                  </p>
                  <p class="more-info" (click)="moreInfo()">
                      More Info
                    </p>
                  </div>
                  <p class="agent-language">English, Hindi</p>
                </mat-card-content>
                <hr>
                <mat-card-actions style="text-align: center">
                  <div class="action-d">
                  <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
                  <p>Listen</p>
                  </div>
                </mat-card-actions>
              </mat-card>
              <mat-card class="sol-card">
                  <div style="display: flex">
                    <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
                    <mat-card-header class="ecommerce">
                      <mat-card-title>Cody Banks</mat-card-title>
                      <p>ecommerce</p>
                      <p>Support Specialist</p>
                    </mat-card-header>
                  </div>
                  <mat-card-content>
                    <div style="display: flex">
                    <p class="language">
                      Languages
                    </p>
                    <p class="more-info" (click)="moreInfo()">
                        More Info
                      </p>
                    </div>
                    <p class="agent-language">English, Hindi</p>
                  </mat-card-content>
                  <hr>
                  <mat-card-actions style="text-align: center">
                    <div class="action-d">
                    <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
                    <p>Listen</p>
                    </div>
                  </mat-card-actions>
                </mat-card>
                <mat-card class="sol-card">
                    <div style="display: flex">
                      <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/Oval Copy 2.png">
                      <mat-card-header class="ecommerce">
                        <mat-card-title>Cody Banks</mat-card-title>
                        <p>ecommerce</p>
                        <p>Support Specialist</p>
                      </mat-card-header>
                    </div>
                    <mat-card-content>
                      <div style="display: flex">
                      <p class="language">
                        Languages
                      </p>
                      <p class="more-info" (click)="moreInfo()">
                          More Info
                        </p>
                      </div>
                      <p class="agent-language">English, Hindi</p>
                    </mat-card-content>
                    <hr>
                    <mat-card-actions style="text-align: center">
                      <div class="action-d">
                      <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_agents_320/player-48 copy 2.png" alt="play-img">
                      <p>Listen</p>
                      </div>
                    </mat-card-actions>
                  </mat-card>


      </div>
    </div>
  </div>
  <div class="mdc-card footer">
    <div class="industry">
      <!-- <div class="elevation-demo-container foot"> -->

      <div class="mdc-chip-set">
        <div class="mdc-chip" tabindex="0" routerLink="/shcedule-meeting2">
          <div class="mdc-chip__text">SCHEDULE MEETING</div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>