
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 2% 10% 4% 10%;
}
.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 5% 0% 1% 0%;
}
.content .mdc-typography--headline6 {
    font-size: 1.1rem;
    color: #C8C8E5;
    text-align: start;
    margin: 0 0 0% 0;
    font-weight: 100;
} 
.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 4% 0%;
}

/* .elevation-demo-container.foot {
    float: left;
    display: flex;
} */

.sign-in .mdc-chip {
    background-color: #172C9A;
    border: 1px solid;
    padding: 7px 30px;
}
.mdc-chip:hover {
    color: white;
}
.mdc-chip i {
    font-size: 25px;
    margin: 0 0px 0 10px;
}
.mdc-card {
    background-color: #F0F0F0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.mdc-card.footer {
background-color:white;
height: unset;
width: unset;
}
.mdc-card.footer .mdc-chip-set {
    padding: 2% 0% 2% 0%
}
.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5% 0% 2% 0%;
}
.industry {
margin: 0px 10% 0px 10%;
}
span.dashboard {
    position: absolute;
    left:75%;
    font-size: 0.65rem;
    color: #758BC6;
    padding: 18px 0 18px 0px;
    font-family: sans-serif;
    cursor: pointer;
}
/* .mdc-chip-set {
    padding: 5% 0% 0% 0%;
} */

.sol-card {
    max-width: 180px;
    margin-bottom: 5%;
    height: max-content;
  }
  

  .mat-card-image {
    margin: 0 0 0 0;
    padding: 10% 0% 0% 0%;
    width: 30%;
    height: 20%;
    border-radius: 25px;
}

.mat-card-header .mat-card-title {
    font-size: 0.8rem;
    margin: 0 0 6px 0;
}
.mat-card-content {
    padding: 20% 0% 20% 0%;
    line-height: 25px;
    text-align: justify;
    font-size: 0.85rem;
    color: #B2B2B2;
}
.solution {
    margin: 0% 8% 10% 8%;
}
.elevation-container {
    min-height: 380px;
    }
mat-card-header.startup {
        padding: 0 10% 0 10%;
    }
mat-card-header.tech-support {
    padding: 0 9% 0 9%;
}
mat-card-header.sas-support {
    padding: 0 16% 0 16%;

}
.mat-card-header.ecommerce {
    padding: 8% 0% 0 0%;
    display: block;
}
.mat-card-header.ecommerce p{
font-size: 0.7rem;
margin: 4px 0 0 15px;
color: #9F9F9F;
}
mat-card-content p {
font-size: 0.67rem;
margin: 4px 0 0 0;
color: #9F9F9F;
font-weight: 500;
}
mat-card-content p.more-info {
    position: absolute;
    right: 10%;
    color: #4A48AA;
    cursor: pointer;
}
mat-card-content p.agent-language {
    font-size: 0.75rem;
    color: black;
}
mat-card-actions .action-d {
    display: inline-flex;
    margin: 4%;
}
mat-card-actions .action-d img{
    width: 32%;
    height: 60%;
}
mat-card-actions .action-d p{
  margin: 2px 0px 0px 6px; 
  color: #1D1A94;
  font-size: 0.8rem;
  font-weight: 500;
}
mat-card hr {
 margin: 0 -16px 0 -16px;
 border-width: 0.5px;
}
.mdc-chip-set {
    padding: 0% 20% 15% 20%;
}