
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
          <div class="logo">
            <!-- <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/Regalix_logo_SVG (White).svg" alt="company-logo"> -->
            <a routerLink="/">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/Regalix_logo_SVG (White).svg" alt="company-logo">
            </a>
            <div class="ver-line"></div>
            <div class="content">
                <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
              </div>
          </div>
        </div>
        <div class="correct-img">
                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/c-check.svg" alt="banner-logo" style="width:47%">
            </div>
        <h4 class="mdc-typography--headline4">Thank you ! Your request was sent successfully.</h4>
        <h6 class="mdc-typography--headline6">We will get back to you soon as possible.</h6>
      </div>
</div>

<div class="solution">
  
  <h5 class="mdc-typography--headline5">What's next?</h5>
<div class="content-menu">
    <div class="elevation-demo-container">
        <div class="elevation-demo-surface">
            <div class="approve-quote" routerLink="/quote">
                <div class="img-circle">
                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/archive-3d-check.svg" alt="">
                </div>
                <h6 class="mdc-typography--headline6">Approve Quote</h6>
                </div>
        </div>
        <div class="elevation-demo-surface">
            <div class="sign-contact">
                <div class="img-circle" style="width: 75%">
                <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/signature.svg" style="width:45%">
                </div>
                <h6 class="mdc-typography--headline6">Sign Contact</h6>
                </div>
        </div>
        <div class="elevation-demo-surface">
            <div class="talk-agent">
                <div class="img-circle">
                <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/business-agent.svg">
                </div>
                <h6 class="mdc-typography--headline6">Talk to Agents</h6>
                </div>
        </div>
        <div class="elevation-demo-surface">
            <div class="project-kick">
                <div class="img-circle">
                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/spaceship.svg" alt="">
                </div>
                <h6 class="mdc-typography--headline6">Project Kick-off</h6>
                </div>
        </div>
      </div>
      <div class="text-content">
        <div class="head-img">
            <div class="img-circle">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/c-info.svg" alt="">
            </div>
            <h6 class="mdc-typography--headline6 heading">Info about DocuSign</h6>
        </div>
        <h6 class="mdc-typography--headline6 text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
        </h6>
      </div>
</div>

</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
</div>
</div>