.head-container .logo-content {
    padding-top: 2%;
}
.logo-content .logo {
    position: absolute;
    left: 42%;
}
.head-container .logo-content .logo img {
    width: 28%;
}
.head-container .logo-content .content {
    width: unset;
}
.head-container h4 {
    text-align: center;
    color: white;
    margin: 1% 0 1% 0;
}
.head-container h6 {
    text-align: center;
    color: #A2A9D6;
   font-size: 1.25rem;
   font-weight: 400;
   margin: 0 0 5% 0; 
}
.head-container .correct-img {
    padding: 0 45% 0 45%;
    text-align: center;
    margin: 3% 0 0 0;
}
.solution .mdc-typography--headline5 {
    text-align: center;
    font-weight: 500;
}
.content-menu {
 margin: 0px 15% 0px 22%;
}
.elevation-demo-surface {
    display: inline-flex;
    min-height: 70px;
    min-width: 185px;
    margin: 20px;
    align-items: center;
    background-color: #F0F0F0;
    text-align: center;
}
.solution h6.mdc-typography--headline6 {
    text-align: center;
    color: black;
    margin: 12px 0 0 0;
    font-weight: 400;
    font-size: 1.1rem;
}
.elevation-demo-surface img {
    width: 43%;
}
.elevation-demo-surface .img-circle {
    padding: 20px 0px 20px 0;
    border-radius: 50%;
    width: 70%;
    background: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin: auto;
}

.text-content .mdc-typography--headline6.heading {
    color: #909090;
}
.text-content .mdc-typography--headline6.text {
    color: #A3A3A3;
    font-size: 0.8rem;
    font-weight: 200;
}
.text-content {
    margin: 8% 0 15% 0;
}
.text-content .head-img {
    display: -webkit-box;
    padding: 0px 38% 0px 38%;
}
.text-content .head-img img {
    width: 80%;
}
.text-content .head-img .mdc-typography--headline6.heading {
margin: -3px 0 0 0;
}