


.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    margin: 7% 0% 0% 0%;
    font-weight: 600;
}

.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 0% 0%;
    font-size: 0.8rem;
    color: #858585;
    font-weight: 400;
}



.mdc-card {
    background-color: white;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}


.mdc-typography--headline6 {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5% 0% 1% 0%;
}
.industry {
margin: 0px 5% 0px 5%;
}



.cross:hover {
    cursor: pointer;
}
.cross i {
    /* position:absolute; */
    /* left: 95%; */
    font-size: 45px;
    float: right;
}
.cross img {
    float: right;
    width: 2%;
}
.cross button {
    float: right
}
.vhw {
    max-height: 98vh;
    width: 60vw; 
}

.listen .mdc-typography--headline6 {
    margin: -5px 0px 0px 5px !important;
    color: #232097 !important;
    font-weight: 500 !important;
}
.industry img.profile {
    width: 13%;
    height: 15%;
    border-radius: 60px;
    float: left;
}
.mat-card-content h6.mdc-typography--headline6 {
    color: grey;
    font-size: 0.85rem;
    font-weight: 400;
}
mat-card-content ul li {
    font-weight: 600;
}
.bio-heading {
    display: -ms-inline-grid !important;
    margin: 5% 0 0 0;
}
.bio-heading h6 {
    margin: -3px 0 0% 5%;
}
.bio-heading img {
    width: 80%;
}