<div mat-dialog-content class="vhw">
    <div class="mdc-card top">
        <div class="industry">
          <div class="elevation-demo-container">
            <div class="cross" (click)="dialogRef.close()">
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <!-- <img src="../../assets/images/cancel.png" alt="cancel"> -->
                <button class="mdc-icon-button material-icons">close</button>
            </div>
            <div>
                <img class="profile" src="../../assets/images/more-info/Oval Copy 10.svg">
              </div>
              <div style="margin: 0 0 0 18%">
              <h4 class="mdc-typography--headline4">
                Cody Banks</h4>
               <h6 class="mdc-typography--headline6">eCommerce Support Specialist.             
               </h6>
               <div class="listen" style="display: -webkit-box">
               <img src="../../assets/images/more-info/player-48 copy.svg">
               <h6 class="mdc-typography--headline6">Listen.             
                </h6>
              </div>
              </div>

          </div>
        </div>
      </div>
    <div class="attributes">
      <div class="mdc-card">
        <div class="industry">
          <div class="bio-heading" style="display:-webkit-inline-box">
            <img src="../../assets/images/more-info/user.svg">
          <h6 class="mdc-typography--headline6">Biography/Description </h6>
          </div>
          <mat-card-content>
              <h6 class="mdc-typography--headline6">eCommerce Support Specialist.             
                  
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </h6>
              <h6 class="mdc-typography--headline6">            
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </h6>
            </mat-card-content>
        </div>
      </div>
      <div class="mdc-card">
        <div class="industry">
            <div class="bio-heading" style="display: -webkit-inline-box">
           <img src="../../assets/images/more-info/language.svg">
          <h6 class="mdc-typography--headline6">Languages</h6>
          </div>
          <div class="elevation-demo-container">
              <mat-card-content>
                  <ul>
                    <li>English</li>
                    <li>Hindi</li>
                  </ul>

                </mat-card-content>
    
          </div>
        </div>
      </div>
    </div>
</div>
