<div mat-dialog-content class="vhw">
    <div class="mdc-card top">
        <div class="industry">
          <div class="elevation-demo-container">
            <div class="cross" (click)="dialogRef.close()">
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <!-- <img src="../../assets/images/cancel.png" alt="cancel"> -->
                <button class="mdc-icon-button material-icons">close</button>
            </div>
              <h4 class="mdc-typography--headline4">Onboarding Questionnaire</h4>
               <h6 class="mdc-typography--headline6">Before Settings up your account please provide us with optional answers for following questions.             
               </h6>
          </div>
        </div>
      </div>
    <div class="attributes">
      <div class="mdc-card">
        <div class="industry">
          <h6 class="mdc-typography--headline6">Do you have a calling script? </h6>
          <div class="elevation-demo-container">
            <div _ngcontent-c2="" class="elevation-demo-surface">
              <img src="../../assets/images/upload.png">
              <p class="heading" >Upload file</p>
            </div>
              <div class="uploaded-data">
              <h6 class="mdc-typography--headline6 target-type">Uploaded Files</h6>
              <p class="heading" style="margin: 0">Calling_script_2019_pdf
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
              </p>
              </div>
    
          </div>
        </div>
      </div>
      <div class="mdc-card">
        <div class="industry">
          <h6 class="mdc-typography--headline6">Do you have rebuttal script?</h6>
          <div class="elevation-demo-container">
              <div _ngcontent-c2="" class="elevation-demo-surface">
                  <img src="../../assets/images/upload.png">
                  <p class="heading" >Upload file</p>
                </div>
    
          </div>
        </div>
      </div>
      <div class="mdc-card">
        <div class="industry">
          <h6 class="mdc-typography--headline6">Do you have sample call flow/recording?</h6>
          <div class="elevation-demo-container">
              <div class="elevation-demo-container">
                  <div _ngcontent-c2="" class="elevation-demo-surface">
                      <img src="../../assets/images/upload.png">
                      <p class="heading" >Upload file</p>
                    </div>
        
              </div>
    
          </div>
        </div>
      </div>
    
      <div class="mdc-card footer">
        <div class="industry">
          <div class="elevation-demo-container foot">
            <div class="mdc-chip-set">
              <div class="mdc-chip save" tabindex="0" (click)="dialogRef.close()">
                <div class="mdc-chip__text">
                  SAVE
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
</div>
