
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
          <div class="logo">
                <a routerLink="/">
            <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
            </a>
            <div class="ver-line"></div>
            <div class="content">
                <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
            </div>
          </div>
        </div>
        <div class="correct-img">
        <img src="../../assets/images/contract/signature.svg" alt="correct-img" style="width:45%">
        </div>
        <h4 class="mdc-typography--headline4">Sign Contact.</h4>
        <p class="mdc-typography--headline6">Sign SoW documents with the link provided below or in e-mail message.</p>
      </div>
</div>

<div class="solution">
  
<div class="content-menu">
    <div class="elevation-container" style="display: flex">
        <mat-card class="sol-card">
            <mat-card-header class="sign-cont">
                <mat-card-title>Sign Contract</mat-card-title>
              </mat-card-header>
            <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/signature.svg">
            <mat-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="mdc-chip-set">
                    <div class="mdc-chip" tabindex="0" (click)="openDialogContract()">
                      <div class="mdc-chip__text">SIGN CONTRACT</div>
                    </div>
                    <div class="mdc-chip dwn-pdf" tabindex="0">
                        <div class="mdc-chip__text">DOWNLOAD PDF</div>
                      </div>
                  </div>
            </mat-card-actions>
          </mat-card>
          <mat-card class="sol-card" style="background-color: #F9F9F9">
              <mat-card-title class="Option">Optional</mat-card-title>
              <mat-card-header class="Onboarding">
                  <mat-card-title>Onboarding Questionnaire</mat-card-title>
                </mat-card-header>
              <img mat-card-image src="../../assets/images/contract/check-list copy.svg">
              <mat-card-content>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                  </p>
              </mat-card-content>
              <mat-card-actions>
                  <div class="mdc-chip-set">
                      <div class="mdc-chip Questionnaire" tabindex="0" (click)="openDialogOnBoarding()">
                          <div class="mdc-chip__text">OPEN QUESTIONNAIRE</div>
                        </div>
                    </div>
              </mat-card-actions>
            </mat-card>
      </div>
      <div class="text-content">
        <div class="head-img">
            <img src="../../assets/images/contract/c-info.svg" alt="">
            <h6 class="mdc-typography--headline6 heading">Info about DocuSign</h6>
        </div>
        <h6 class="mdc-typography--headline6 text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
        </h6>
      </div>
</div>

</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
</div>
</div>
