
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 2% 10% 5% 10%;
}
.mdc-card.top {
    background-color: white;
}
.content .mdc-typography--headline6 {
    font-size: 1.1rem;
    color: #C8C8E5;
    text-align: start;
    margin: 0 0 0% 0;
    font-weight: 100;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 5% 0% 1% 0%;
}

.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 0% 0%;
}
.sign-in .mdc-chip-set {
    padding: 0 0 0 0;
}
.sign-in .mdc-chip {
    background-color: #172C9A;
    border: 1px solid;
    padding: 7px 30px;
}
.mdc-chip:hover {
    color: white;
}
.mdc-chip i {
    font-size: 25px;
    margin: 0 0px 0 10px;
}
.elevation-demo-container.foot {
    float: left;
    display: flex;
}
.elevation-demo-surface {
    display: inline-flex;
    justify-content: space-around;
    /* min-height: 100px; */
    min-height: 70px;
    min-width: 250px;
    margin: 20px;
    align-items: center;
    background-color: white;
    box-shadow:  0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.elevation-demo-surface:hover {
    border: 1px solid #E19DBF;
    cursor: pointer;
}

.elevation-demo-surface img {
    padding: 0px 10px 7px 8px;
    width: 8%;
}
elevation-demo-surface p {
    padding: 4px 11px 0px 11px;
}

.elevation-demo-container p.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #2222ae;
    text-align: center;
    font-family: sans-serif;
}



.mdc-card {
    background-color: #F0F0F0;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.mdc-card.footer {
padding: 0% 0% 3% 0%;
background-color:white;
}

.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5% 0% 1% 0%;
}
.industry {
margin: 0px 10% 0px 10%;
}
.mdc-card.footer .mdc-chip-set {
    padding: 10% 0% 0% 0%;
}
.mdc-chip-set {
    padding: 5% 0% 0% 0%;
}

.elevation-demo-surface fa-icon {
    padding: 5px 11px 0px 11px;
    font-size: 25px;
    color: grey;
}

.mdc-chip.go-back {
    background-color: #FFFFFF;
    padding: 7px 19px;
    margin: 13% 0px 0px 0px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-chip.request-quote {
    padding: 0px 27px;
    font-size: 13px;
    font-weight: 500;
    background-color: #9e9e9e99
}

.mdc-card .right-chips {
    display: inline-flex !important;
    position: absolute;
    right: 8%;
}
