
<div class="mdc-card header">
    <div class="head-container">
      <div class="logo-content">
        <div class="logo">
          <a routerLink="/">
          <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
          </a>
          <div class="ver-line"></div>
          <div class="content">
            <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
          </div>
          <div class="sign-in">
              <div class="mdc-chip-set">
                  <div class="mdc-chip" tabindex="0">
                    <div class="mdc-chip__text">Hello Ajay</div>
                    <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="mdc-card top">
    <div class="industry">
      <div class="elevation-demo-container">
          <h4 class="mdc-typography--headline4">Schedule Meeting</h4>
           <h6 class="mdc-typography--headline6">Tell us when can we meet.</h6>
      </div>
    </div>
  </div>
<div class="attributes">
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">What time does suit you best? </h6>
      <div class="elevation-demo-container">
        <div _ngcontent-c2="" class="elevation-demo-surface" routerLink="/shcedule-meeting2">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Schedule_a_meeting/check-in.svg">
          <p class="heading" >Select date</p>
          <fa-icon [icon]="faAngleDown">
          </fa-icon>
        </div>
        <div _ngcontent-c2="" class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Schedule_a_meeting/time-3.svg">
          <p class="heading" >Select Time</p>
          <fa-icon [icon]="faAngleDown"></fa-icon>
        </div>

      </div>
    </div>
  </div>
  <div class="mdc-card footer">
    <div class="industry">
      <div class="elevation-demo-container foot">
        <div class="mdc-chip-set">
          <div class="mdc-chip go-back" tabindex="0">
            <div class="mdc-chip__text" style="color:black" (click)="goBack()">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
              GO BACK
            </div>
          </div>
        </div>
        <div class="right-chips">
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #9e9e9e99;" routerLink="/shcedule-meeting2">
              <div class="mdc-chip__text">
                START THE PROJECT</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>