.head-container .logo-content {
    padding-top: 2%;
}
.logo-content .logo {
    position: absolute;
    left: 42%;
}
.head-container .logo-content .logo img {
    width: 28%
}
.head-container .logo-content .content {
    width: unset;
}
.head-container h4 {
    text-align: center;
    color: white;
    margin: 1% 0 1% 0;
}
.head-container h6 {
    text-align: center;
    color: #A2A9D6;
   font-size: 1.25rem;
   font-weight: 400;
   margin: 0 0 5% 0; 
}
.head-container .correct-img {
    padding: 0 45% 0 45%;
    text-align: center;
    margin: 3% 0 0 0;
}
.solution .mdc-typography--headline5 {
    text-align: center;
    font-weight: 500;
    font-size: 1.9rem;
    margin: 4% 0 3% 0;
}
.content-menu {
 margin: 0px 35% 15% 35%;
}
.text-content .head-img {
    display: -webkit-box;
    padding: 0px 38% 0px 38%;
}
.text-content .head-img img {
    width: 80%;
}
.text-content .head-img .mdc-typography--headline6.heading {
margin: 0 0 0 0;
}
.mdc-typography--headline6.additional {
    text-align: center;
    font-size: 0.8rem !important;
    text-decoration: underline;
    cursor: pointer;
    margin: 2% 0 2% 0 !important;
    color: black;
}
.mdc-typography--headline6.additional:hover {
color: #113D9F !important;
}
.mdc-chip-set {
    text-align: center;
    padding: 2% 0% 2% 0%;
    display: block !important;
}