
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
          <div class="logo">
              <a routerLink="/">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Set_password/Regalix_logo_SVG (White).svg" alt="company-logo">
            </a>
            <div class="ver-line"></div>
            <div class="content">
                <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
              </div>
          </div>
        </div>
        <div class="correct-img">
        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Set_password/archive-3d-check.svg" alt="correct-img" style="width:42%">
        </div>
        <h4 class="mdc-typography--headline4">Quote has been approved.</h4>
        <h6 class="mdc-typography--headline6">Set Password to generate Sow documents.</h6>
      </div>
</div>

<div class="solution">
  
  <h5 class="mdc-typography--headline5">Set password for your account</h5>
<div class="content-menu">
    <div class="elevation-demo-container" style="display: grid">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter password">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm Password">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0" routerLink="/sign-contract">
                <div class="mdc-chip__text">CREATE ACCOUNT</div>
              </div>
            </div>
            <h6 class="mdc-typography--headline6 additional">or sign in to your existing account</h6>
      </div>

</div>

</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
</div>
</div>