.head-container .logo-content {
    padding-top: 3%;
}

.head-container .logo-content .logo img {
    width: 8%
}
.head-container .mdc-typography--headline6 {
    color: #A3A7D5;
    text-align: center;
    margin: 0 0 3% 0;
    font-weight: 400;
}
.content .mdc-typography--headline6 {
    font-size: 1.1rem;
    color: #C8C8E5;
    text-align: start;
}

/* .head-container .logo-content .content {
    width: 60%
} */
span.dashboard {
    position: absolute;
    left:75%;
    font-size: 0.65rem;
    color: #758BC6;
    padding: 18px 0 18px 0px;
    font-family: sans-serif;
    cursor: pointer;
}
.head-container h4 {
    text-align: center;
    color: white;
    margin: 1% 0 1% 0;
}
.head-container .correct-img {
    padding: 0 45% 0 45%;
    text-align: center;
    margin: 3% 0 0 0;
}

.text-content .mdc-typography--headline6.heading {
    color: #909090;
}
.text-content .mdc-typography--headline6.text {
    color: #A3A3A3;
    font-size: 0.8rem;
    font-weight: 200;
}
.text-content {
    margin: 8% 0 15% 0;
}
.text-content .head-img {
    display: -webkit-box;
    padding: 0px 38% 0px 38%;
}
.text-content .head-img img {
    width: 80%;
}
.text-content .head-img .mdc-typography--headline6.heading {
margin: -3px 0 0 0;
}

.sol-card {
    max-width: 320px;
    margin-bottom: 5%
  }
  

  .mat-card-image {
    margin: 0 0 0 0;
    padding: 0% 40% 0% 40%;
    width: 12%;
}

.mat-card-header .mat-card-title {
    color: black;
}
.mat-card-header .mat-card-title {
    font-size: 18px;
}
.mat-card-content {
    padding: 8% 10% 8% 10%;
    line-height: 25px;
    text-align: justify;
    font-size: 0.85rem;
    color: #B2B2B2;
}
.solution {
    margin: 8% 8% 10% 8%;
    padding: 0% 17% 0 17%;
}
.elevation-container {
    min-height: 450px;
    }
mat-card-header.Onboarding {
    padding: 3% 7% 0 7%;
}

.mat-card-header.sign-cont {
    padding: 10% 23% 0 23%
}
.Option.mat-card-title {
    text-align: center;
    margin: 0 0 0 0;
    padding: 3% 0% 0% 0%;
    font-size: 0.8rem !important;
    color: #B2B2B2 !important;
}
/* .mdc-chip-set .mdc-chip {
    margin: 0px 0px 15px 0;
} */
.sign-in .mdc-chip {
    background-color: #172C9A;
    border: 1px solid;
    padding: 7px 30px;
}
.mdc-chip:hover {
    color: white;
}
.mdc-chip i {
    font-size: 25px;
    margin: 0 0px 0 10px;
}
.mdc-chip.Questionnaire {
    padding: 7px 25px;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-typography--headline6.heading {
    font-size: 1.2rem;
}
.Questionnaire .mdc-chip:hover {
    color:#673ab7;
}
.Questionnaire .mdc-chip__text:hover {
    color:#673ab7;
}
.agents .mdc-chip__text {
    font-size: 0.8rem;
    font-weight: 500;
}
.Questionnaire .mdc-chip__text {
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}
.mdc-chip.dwn-pdf {
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-chip.dwn-pdf .mdc-chip__text {
color: black;
}
.mdc-chip.dwn-pdf .mdc-chip__text:hover {
    color: #673ab7;
    }
/* .cdk-overlay-pane {
    width: 60vw !important;
} */