
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
            <div class="logo">
                    <a routerLink="/">
              <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
              </a>
              <div class="ver-line"></div>
              <div class="content">
                  <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
              </div>
              <span class="dashboard" routerLink="/home">DASHBOARD</span>
              <div class="sign-in">
                  <div class="mdc-chip-set">
                    <div class="mdc-chip" tabindex="0">
                      <div class="mdc-chip__text">Hello Ajay</div>
                      <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
                    </div>
                  </div>
              </div>
            </div>
        
        
          </div>
        <div class="correct-img">
        <img src="../../assets/images/contract/business-agent.svg" alt="correct-img" style="width:40%">
        </div>
        <h4 class="mdc-typography--headline4">Documents Signed successfully.</h4>
        <h4 class="mdc-typography--headline4">You can now view agents for your project!</h4>
        <h6 class="mdc-typography--headline6">Please see our recommendation based on data provided in prvious steps.</h6>
      </div>
</div>

<div class="solution">
  
<div class="content-menu">
    <div class="elevation-container" style="display: flex">
        <mat-card class="sol-card">
            <mat-card-header class="sign-cont">
                <mat-card-title>View Agents</mat-card-title>
              </mat-card-header>
            <img mat-card-image src="../../assets/images/contract/multiple-11.svg">
            <mat-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="mdc-chip-set">
                    <div class="mdc-chip agents" tabindex="0" routerLink="/agents">
                      <div class="mdc-chip__text">VIEW AGENTS</div>
                    </div>
                  </div>
            </mat-card-actions>
          </mat-card>
          <mat-card class="sol-card" style="background-color: #F9F9F9">
              <mat-card-title class="Option">Optional</mat-card-title>
              <mat-card-header class="Onboarding">
                  <mat-card-title>
                        <i class="fa fa-check" aria-hidden="true" style="color:#30DEC1"></i>
                        Onboarding Questionnaire</mat-card-title>
                </mat-card-header>
              <img mat-card-image src="../../assets/images/contract/check-list copy.svg">
              <mat-card-content>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                  </p>
              </mat-card-content>
              <mat-card-actions>
                  <div class="mdc-chip-set">
                      <div class="mdc-chip Questionnaire" tabindex="0" (click)="openDialogOnBoarding()">
                          <div class="mdc-chip__text">EDIT QUESTIONNAIRE</div>
                        </div>
                    </div>
              </mat-card-actions>
            </mat-card>
      </div>
      <div class="text-content">
        <div class="head-img">
            <img src="../../assets/images/contract/c-info.svg" alt="">
            <h6 class="mdc-typography--headline6 heading">Info about DocuSign</h6>
        </div>
        <h6 class="mdc-typography--headline6 text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
        </h6>
      </div>
</div>

</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i>  Regalix Inc. All rights reserved.</p>
</div>
</div>
