
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
          <div class="logo">
            <a routerLink="/">
            <img src="../assets/images/logo-white.png" alt="company-logo">
            </a>
            <div class="ver-line"></div>
            <div class="content">
              <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
            </div>
            <div class="sign-in">
              <button>SIGN IN</button>
            </div>
          </div>
      
      
        </div>
        <h1 class="mdc-typography--headline4">Solutions</h1>
        <p class="mdc-typography--headline6">Tell us what your project is about and we'll help you find right suppor agents for your project</p>
      </div>
</div>

<div class="solution">
  
  <h6 class="mdc-typography--headline6">Select Solutions</h6>
  <div class="elevation-container" style="display: flex">
    <mat-card class="sol-card">

        <img mat-card-image src="../../assets/images/new-img/stock.svg">
        <mat-card-header class="ecommerce">
            <mat-card-title>B2B Inside Sales</mat-card-title>
          </mat-card-header>
        <mat-card-content>
          <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="mdc-chip-set">
                <div class="mdc-chip" tabindex="0" routerLink="/attributes2">
                  <div class="mdc-chip__text">SELECT</div>
                </div>
              </div>
        </mat-card-actions>
      </mat-card>
      <mat-card class="sol-card">

          <img mat-card-image src="../../assets/images/new-img/headphones-mic.svg">
          <mat-card-header class="sas-support">
              <mat-card-title>Retail Contact Center</mat-card-title>
            </mat-card-header>
          <mat-card-content>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
              </p>
          </mat-card-content>
          <mat-card-actions>
              <div class="mdc-chip-set">
                  <div class="mdc-chip" tabindex="0">
                    <div class="mdc-chip__text">SELECT</div>
                  </div>
                </div>
          </mat-card-actions>
        </mat-card>
        <mat-card class="sol-card">

            <img mat-card-image src="../../assets/images/new-img/handshake.svg">
            <mat-card-header class="tech-support">
                <mat-card-title>Omnichanennel Support </mat-card-title>
              </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="mdc-chip-set">
                    <div class="mdc-chip" tabindex="0">
                      <div class="mdc-chip__text">SELECT</div>
                    </div>
                  </div>
            </mat-card-actions>
          </mat-card>
          <mat-card class="sol-card">

              <img mat-card-image src="../../assets/images/new-img/save-planet.svg">
              <mat-card-header class="startup">
                  <mat-card-title>Global Customer Service</mat-card-title>
                </mat-card-header>
              <mat-card-content>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                  </p>
              </mat-card-content>
              <mat-card-actions>
                  <div class="mdc-chip-set">
                      <div class="mdc-chip" tabindex="0">
                        <div class="mdc-chip__text">SELECT</div>
                      </div>
                    </div>
              </mat-card-actions>
            </mat-card>

            <mat-card class="sol-card">

                <img mat-card-image src="../../assets/images/new-img/handshake.svg">
                <mat-card-header class="ecommerce">
                    <mat-card-title>Customer Onboarding</mat-card-title>
                  </mat-card-header>
                <mat-card-content>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="mdc-chip-set">
                        <div class="mdc-chip" tabindex="0" routerLink="/attributes2">
                          <div class="mdc-chip__text">SELECT</div>
                        </div>
                      </div>
                </mat-card-actions>
              </mat-card>
              <mat-card class="sol-card">
        
                  <img mat-card-image src="../../assets/images/new-img/business-agent.svg">
                  <mat-card-header class="sas-support">
                      <mat-card-title>Account Management</mat-card-title>
                    </mat-card-header>
                  <mat-card-content>
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                      </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <div class="mdc-chip-set">
                          <div class="mdc-chip" tabindex="0">
                            <div class="mdc-chip__text">SELECT</div>
                          </div>
                        </div>
                  </mat-card-actions>
                </mat-card>
                <mat-card class="sol-card">
        
                    <img mat-card-image src="../../assets/images/new-img/reload.svg">
                    <mat-card-header class="tech-support">
                        <mat-card-title>Renewals Management </mat-card-title>
                      </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="mdc-chip-set">
                            <div class="mdc-chip" tabindex="0">
                              <div class="mdc-chip__text">SELECT</div>
                            </div>
                          </div>
                    </mat-card-actions>
                  </mat-card>
                  <mat-card class="sol-card">
        
                      <img mat-card-image src="../../assets/images/new-img/support-17 copy 2.svg">
                      <mat-card-header class="startup">
                          <mat-card-title>Customer Support</mat-card-title>
                        </mat-card-header>
                      <mat-card-content>
                          <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <div class="mdc-chip-set">
                              <div class="mdc-chip" tabindex="0">
                                <div class="mdc-chip__text">SELECT</div>
                              </div>
                            </div>
                      </mat-card-actions>
                    </mat-card>
  </div>
</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
</div>
</div>