.head-container .logo-content .content span {
    color: #C2C0E2;
    font-size: 1.1rem;
    font-weight: 100;
}
.sol-card {
    max-width: 255px;
    margin-bottom: 5%
  }
  

  .mat-card-image {
    margin: 0 0 0 0;
    padding: 10% 35% 4% 35%;
    width: 20%;
}

.mat-card-header .mat-card-title {
    color: #3C39A3;
}
.mat-card-header .mat-card-title {
    font-size: 19px;
}
.mat-card-content {
    padding: 8% 10% 8% 10%;
    line-height: 25px;
    text-align: justify;
    font-size: 0.85rem;
    color: #B2B2B2;
}
.solution {
    margin: 0% 8% 10% 8%;
}
.elevation-container {
    min-height: 450px;
    }
/* mat-card-header.startup {
        padding: 0 10% 0 10%;
    } */
/* mat-card-header.tech-support {
    padding: 0 9% 0 9%;
} */
/* mat-card-header.sas-support {
    padding: 0 16% 0 16%;

} */
/* .mat-card-header.ecommerce {
    padding: 0 3% 0 3%
} */
.mat-card-header {
    display: unset;
    flex-direction: unset;
    text-align: -webkit-center;
}
