
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
            <div class="logo">
                    <a routerLink="/">
              <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
              </a>
              <div class="ver-line"></div>
              <div class="content">
                  <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
              </div>
              <span class="dashboard" routerLink="/home">DASHBOARD</span>
              <div class="sign-in">
                  <div class="mdc-chip-set">
                    <div class="mdc-chip" tabindex="0">
                      <div class="mdc-chip__text">Hello Ajay</div>
                      <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
                    </div>
                  </div>
              </div>
            </div>
        
        
          </div>
        <div class="correct-img">
        <img src="../../assets/images/after-login/spaceship.svg" alt="correct-img" style="width:40%">
        </div>
        <h4 class="mdc-typography--headline4">Congrats Your project is ready to go.</h4>
        <h6 class="mdc-typography--headline6">You can check status of the project and agents productivity on the dashboard.</h6>
      </div>
</div>

<div class="solution">
  
<div class="content-menu">
    <div class="elevation-container" style="text-align: -webkit-center">
        <mat-card class="sol-card">
            <mat-card-header class="sign-cont">
                <mat-card-title>Your dashboard</mat-card-title>
              </mat-card-header>
            <img mat-card-image src="../../assets/images/after-login/metrics.svg">
            <mat-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="mdc-chip-set">
                    <div class="mdc-chip agents" tabindex="0" routerLink="/dashboard">
                      <div class="mdc-chip__text">GO TO DASHBOARD</div>
                    </div>
                  </div>
            </mat-card-actions>
          </mat-card>
      </div>
</div>

</div>
<div class="mdc-card">
<div class="footer">
  <p class="mdc-typography--headline6">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
</div>
</div>
