
.top-head {
    margin: 0px 5% 0px 5%;
}

.cross:hover {
    cursor: pointer;
}
.cross i {
    font-size: 45px;
    float: right;
}
.cross img {
    float: right;
    width: 2%;
}
.cross button {
    float: right;
}
.signIn {
    max-height: 98vh;
    width: 42vw; 
}
.mdc-typography--headline4.signInText {
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
}
.mdc-card hr.afterSign {
    width: 0.5px;
}
.input-area {
    display: grid;
    padding: 5% 18% 3% 18%;
}
.btn-area {
    padding: 0 18% 0 18%;
    
}
a.mdc-typography--headline4 {
    float: right;
}
.mdc-chip-set {
    text-align: unset;
     padding: unset;
     display: unset;
}
.btn-area a.mdc-typography--headline4 {
    font-size: 1.1rem;
    position: absolute;
    right: 35%;
    color: #123A9E;
    cursor: pointer;
    padding: 6px 0px 6px 0;
}
.mdc-chip {
    padding: 7px 65px;
    height: 50px;
    border-radius: 30px;
}
.signGoogle {
    display: -webkit-box;
    margin: 10% 0% 10% 0;
}
.signGoogle .mdc-chip {
    background-color: #F1F1F1;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    padding: 7px 20px;
    color: #5A5A5A;
    font-weight: 500;
}
.signGoogle .mdc-chip__text img {
    vertical-align: middle;
}
.signGoogle .mdc-chip-set.withg {
    margin: 0 10px 0 0;
}
a.mdc-typography--headline4.close{
    text-align: center;
    font-size: 1.25rem;
    color: #123A9E;
    margin: 0px 0px 5% 0;
    cursor: pointer;
}
.mdc-typography--headline4.or {
    /* text-align: center; */
    font-size: 1.1rem;
    margin: 3% 2% 0 2%;
    color: #A6A6A6;
}
.orSign {
    display: -webkit-box;
}
hr.upLine {
    border-width: 0.5px;
    border-color: #E4E4E4;
}
.orSign hr.left-line {
    width: 10%;
    margin: 33px 0 0 0;
    height: 0px;
    border-color: #E4E4E4;
    border-width: 0.5px;
} 
.orSign hr.right-line {
    width: 85%;
    margin: 33px 0 0 0;
    height: 0px;
    border-color: #E4E4E4;
    border-width: 0.5px;
} 
/* .line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    } */