<div mat-dialog-content class="signIn">
  <div class="mdc-card">
    <div class="top-head">
      <div class="elevation-demo-container">
        <div class="cross" (click)="dialogRef.close()">
          <button class="mdc-icon-button material-icons">close</button>
        </div>
        <h4 class="mdc-typography--headline4 signInText">Sign In</h4>
      </div>
      <hr class="upLine">
    </div>
        <div class="input-area">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="btn-area">
      <div style="display: flex">
        <div class="mdc-chip-set">
          <div class="mdc-chip" tabindex="0">
            <div class="mdc-chip__text">SIGN IN</div>
          </div>
        </div>
        <a class="mdc-typography--headline4">I forgot my password</a>
      </div>
      <!-- <hr> -->
      <div class="orSign">
          <hr class="left-line">
      <p class="mdc-typography--headline4 or">Or</p>
      <hr class="right-line">
      </div>
      <div class="signGoogle">
      <div class="mdc-chip-set withg">
        <div class="mdc-chip" tabindex="0">
          <div class="mdc-chip__text">
            <img src="../../../assets/images/goggle-icn.png">
            SIGN IN WITH GOOGLE</div>
        </div>
      </div>
      <div class="mdc-chip-set">
        <div class="mdc-chip" tabindex="0">
          <div class="mdc-chip__text">CREATE AN ACCOUNT</div>
        </div>
      </div>
      </div>
    </div>
    <!-- <a class="mdc-typography--headline4 close" (click)="dialogRef.close()">close</a> -->
  </div>
</div>