
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 2% 12% 5% 10%;
}
.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 15% 0% 1% 0%;
}
.content .mdc-typography--headline6 {
    font-size: 1.1rem;
    color: #C8C8E5;
    text-align: start;
    margin: 0 0 0% 0;
    font-weight: 100;
} 
.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 4% 0%;
}

/* .elevation-demo-container.foot {
    float: left;
    display: flex;
} */

.sign-in .mdc-chip {
    background-color: #172C9A;
    border: 1px solid;
    padding: 7px 30px;
}
.mdc-chip:hover {
    color: white;
}
.mdc-chip i {
    font-size: 25px;
    margin: 0 0px 0 10px;
}
.mdc-card {
    background-color: #F0F0F0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.mdc-card.footer {
background-color:white;
height: unset;
width: unset;
}
.mdc-card.footer .mdc-chip-set {
    padding: 2% 0% 2% 0%
}
.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0% 0% 2% 0%;
}
.industry {
margin: 0px 10% 6% 10%;
}
span.dashboard {
    position: absolute;
    left:73%;
    font-size: 0.65rem;
    color: #758BC6;
    padding: 18px 0 18px 0px;
    font-family: sans-serif;
}

.elevation-container {
    min-height: 380px;
    }
    
    mat-card-content table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      mat-card-content tr {
          border-bottom: 1px solid #E6E6E6;
      }
      mat-card-content td, th {
        text-align: left;
        padding: 15px;
      }



      mat-card-content tr th .mdc-typography--headline6 {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
      }

      /* mat-card-content tr th:nth-child(1) .mdc-typography--headline6 {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
      } */
      /* mat-card-content tr td:nth-child(1) .mdc-typography--headline6 {
        color: #1D1A94;
        font-size: 1.1rem;
        font-weight: 500;
      } */
      mat-card-content tr td .mdc-typography--headline6 {
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
      }
      .mdc-typography--headline6.status {
        color: #201B9E;
        font-size: 0.85rem !important;
        font-weight: 600 !important;
        cursor: pointer;
      }
      button.inactive {
        background: #F8F8F8;
      }
      button.onboarding {
        background: #F3E7FE;
      }
      .onboarding h6 {
          color: #9026A6 !important;
      }
      button.complete {
          background: #FFFFFF;
      }
      .complete h6 {
          color: #30DEC1 !important;
      }
      .mdc-chip-set.start-new {
        padding: 6% 20% 10% 20%;
      }
      .mdc-chip-set.start-new .mdc-chip {
        padding: 7px 35px;
        height: 38px;
        font-size: 0.8rem;
        font-weight: 500;
      }
      .mdc-card.tab .mdc-chip-set {
        display: block;
        float: right;
        padding: unset !important;
      }
      .mdc-card.tab .mdc-chip {
        padding: 7px 35px;
        height: 38px;
        font-size: 0.8rem;
        font-weight: 500;
      }

      mdc-card.tab h6 {
          margin: 0;
      }

      .elevation-demo-surface {
        display: inline-flex;
        min-height: 70px;
        min-width: 260px;
        margin: 20px;
        align-items: center;
        background-color: white;
    }
    .mdc-card.top .mdc-typography--headline6.target-type {
        font-size: 0.85rem;
    }
    .elevation-demo-container p.heading {
        font-weight: bolder;
        /* font-size: 18px; */
        color: #202020;
        text-align: left;
        margin: 0 0 0 0;
        font-family: sans-serif;
    }
    .mdc-card.top .mdc-typography--headline6.sol-type {
        color: #222222;
        font-size: 1.1rem;
        margin: 0 0 0 0;
    }
      .elevation-demo-container .right-item {
          float: right;
          margin: 2% 0 0% 0%;
      }
      
      .elevation-demo-container .right-item img {
        width: 65%;
        padding: 7px 7px 0 0;
      }

      .mdc-typography--headline6.target-type span.right-itr {
        color: black;
        font-size: 1rem;
        font-weight: 500;
      }
      .mdc-typography--headline6.acti-agent {
        color: #201B9E !important;
        margin: -5px 20px 0px 0px;
        font-size: 0.8rem !important;
        font-weight: 500 !important;
      }
      td img.acti-img {
          width: 80%;
      } 
      td img.agent-img {
          width: 85%;
        /* height: 45%;
        border-radius: 30px; */
    }
    .tgtInd img {
        width: 60%;
        padding: 7px 7px 0px 0px;
    }
    img.thstatus {
        width: 25%;
        height: 10%;
    }
    .mdc-typography--headline6.thstatus {
        margin: -10% 0% 0% 15%;
    }