<div class="mdc-card header">
    <div class="head-container">
      <div class="logo-content">
        <div class="logo">
            <a routerLink="/">
          <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
          </a>
          <div class="ver-line"></div>
          <div class="content">
            <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
          </div>
          <span class="dashboard">DASHBOARD</span>
          <div class="sign-in">
            <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0">
                <div class="mdc-chip__text">Hello Ajay</div>
                <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-card top">
    <div class="industry">
      <div class="elevation-demo-container" style="margin: 0 0 5% 0">
        <div style="display: inline-block">
        <h4 class="mdc-typography--headline4">Project Dashboard</h4>
        <h6 class="mdc-typography--headline6">Check status of your projects.</h6>
        </div>
        <div class="right-item">
          <div style="display: -webkit-box">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Group 2 Copy.svg">
            <h6 class="mdc-typography--headline6 target-type">No. of Agents: <span class="right-itr">12 agents</span></h6>
          </div>
          <div style="display: -webkit-box">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/round-dollar.svg">
            <h6 class="mdc-typography--headline6 target-type">Cost: <span class="right-itr">$ 6,000</span></h6>
          </div>
          <div style="display: -webkit-box">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/signature.svg">
            <h6 class="mdc-typography--headline6 target-type">Contract: <span class="right-itr" style="color:#201B9E">Open PDF</span></h6>
          </div>
        </div>
      </div>
      <h6 class="mdc-typography--headline6 sol-type">Solution Type: <span style="font-weight:500">eCommerce Support</span></h6>
      <hr>
      <div class="elevation-demo-container">
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/time-clock.svg">
              <h6 class="mdc-typography--headline6 target-type">Working Days & Hours</h6>
            </div>
            <p class="heading">Mon-Fri, GMT+2</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/check-in.svg">
              <h6 class="mdc-typography--headline6 target-type">Project Duration</h6>
            </div>
            <p class="heading">Feb 19, 2019-July 4, 2020 <span style="font-size: 0.8rem">(459 days)</span></p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/factory copy.svg">
              <h6 class="mdc-typography--headline6 target-type">Target Industry</h6>
            </div>
            <p class="heading">Automotive</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/world copy.svg">
              <h6 class="mdc-typography--headline6 target-type">Target Countries</h6>
            </div>
            <p class="heading">USA</p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/language.svg">
              <h6 class="mdc-typography--headline6 target-type">Target Languages</h6>
            </div>
            <p class="heading">English Hindi </p>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="tgtInd">
            <div style="display: -webkit-box">
              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/b-meeting.svg">
              <h6 class="mdc-typography--headline6 target-type">Chanels</h6>
            </div>
            <p class="heading">Phone, Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="attributes">
    <div class="mdc-card tab">
      <div class="industry">
        <div style="margin: 4% 0 1% 0;">
        <h6 class="mdc-typography--headline6" style="display: inline-block;">You have 12 agents assigned to this project </h6>
        <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0">
              <div class="mdc-chip__text">ADD NEW AGENTS</div>
            </div>
          </div>
          </div>
        <div class="elevation-container">
            <mat-card>
                <mat-card-content>
                    <table>
                        <tr>
                          <th></th>
                          <th>
                              <h6 class="mdc-typography--headline6">Agent Name
                                </h6>
                            </th>
                          <th style="text-align: center">
                            <div style="display: inline-flex">
                                <img class="thstatus" src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/funnel-39.png" alt="status">
                              <h6 class="mdc-typography--headline6 thstatus">
                            Status
                            </h6>
                            </div>
                          </th>
                        </tr>
                        <tr>
                          <td style="width: 8%">
                              <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                          </td>
                          <td>
                            <!-- <div style="display: flex"> -->
                                <h6 class="mdc-typography--headline6">
                              Tomasz Kowalski
                              </h6>
                              <div style="display: -webkit-box">
                              <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                              <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
  
                              <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                              <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                            </div>
                            <!-- </div> -->

                          </td>
                          <td style="text-align: center">
                              <button class="inactive" mat-raised-button>
                              <h6 class="mdc-typography--headline6">
                            Inactive
                            </h6>
                            </button>
                          </td>
                        </tr>
                        <tr>
                            <td style="width: 8%">
                                <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                              </td>
                            <td>
                              <!-- <div style="display: flex"> -->
                                  <h6 class="mdc-typography--headline6">
                                Tomasz Kowalski
                                </h6>
                                <div style="display: -webkit-box">
                                    <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                                    <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
        
                                    <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                                    <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                                  </div>
                              <!-- </div> -->
  
                            </td>
                            <td style="text-align: center">
                                <button class="onboarding" mat-raised-button>
                                    <h6 class="mdc-typography--headline6">
                                  Onboarding
                                  </h6>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                              <td style="width: 8%">
                                  <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                                </td>
                              <td>
                                <!-- <div style="display: flex"> -->
                                    <h6 class="mdc-typography--headline6">
                                  Tomasz Kowalski
                                  </h6>
                                  <div style="display: -webkit-box">
                                      <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                                      <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
          
                                      <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                                      <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                                    </div>
                                <!-- </div> -->
    
                              </td>
                              <td style="text-align: center">
                                  <button class="complete" mat-raised-button>
                                      <h6 class="mdc-typography--headline6">
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                    Active
                                    </h6>
                                    </button>
                              </td>
                            </tr>
                              <tr>
                                <td style="width: 8%">
                                    <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                                  </td>
                                <td>
                                  <!-- <div style="display: flex"> -->
                                      <h6 class="mdc-typography--headline6">
                                    Tomasz Kowalski
                                    </h6>
                                    <div style="display: -webkit-box">
                                        <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                                        <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
            
                                        <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                                        <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                                      </div>
                                  <!-- </div> -->
      
                                </td>
                                <td style="text-align: center">
                                    <button class="inactive" mat-raised-button>
                                    <h6 class="mdc-typography--headline6">
                                  Inactive
                                  </h6>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                  <td style="width: 8%">
                                      <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                                    </td>
                                  <td>
                                    <!-- <div style="display: flex"> -->
                                        <h6 class="mdc-typography--headline6">
                                      Tomasz Kowalski
                                      </h6>
                                      <div style="display: -webkit-box">
                                          <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                                          <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
              
                                          <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                                          <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                                        </div>
                                    <!-- </div> -->
        
                                  </td>
                                  <td style="text-align: center">
                                      <button class="onboarding" mat-raised-button>
                                          <h6 class="mdc-typography--headline6">
                                        Onboarding
                                        </h6>
                                        </button>
                                  </td>
                                </tr>
                                <tr>
                                    <td style="width: 8%">
                                        <img class="agent-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/Oval Copy 2.svg">
                                      </td>
                                    <td>
                                      <!-- <div style="display: flex"> -->
                                          <h6 class="mdc-typography--headline6">
                                        Tomasz Kowalski
                                        </h6>
                                        <div style="display: -webkit-box">
                                            <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/player-48 copy 2.svg">
                                            <h6 class="mdc-typography--headline6 acti-agent">Agent</h6>
                
                                            <img class="acti-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page/event-create copy 2.svg">
                                            <h6 class="mdc-typography--headline6 acti-agent">Meeting</h6>
                                          </div>
                                      <!-- </div> -->
          
                                    </td>
                                    <td style="text-align: center">
                                        <button class="complete" mat-raised-button>
                                            <h6 class="mdc-typography--headline6">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                          Active
                                          </h6>
                                          </button>
                                    </td>
                                  </tr>
                      </table>
                  </mat-card-content>
            </mat-card>
        </div>
      </div>
    </div>
  </div>