.logo-content .logo {
    position: absolute;
    left: 42%;
}
.head-container .logo-content {
    padding: 4% 10% 4% 10%;
}
.head-container .logo-content .content {
    width: unset;
}
.head-container .logo-content .logo img {
    width: 28%;
}
.mat-card {
    margin: 0 30% 0 30%;
    padding: 0;
}
.heading .mdc-typography--headline5 {
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
}
.text {
    padding: 0 13% 0 13%;
}
.text .mdc-typography--headline6 {
    text-align: center;
    font-size: 1.1rem;
    color: #797979;
    font-weight: 400;
}
.sol .mdc-typography--headline6 {
    text-align: center;
    font-size: 1.19rem;
    font-weight: 400;
}
.sol .mdc-typography--headline6 span {
    font-weight: 500;
}
.target-cost {
    display: -webkit-box;
    margin: 2% 0 2% 0;
}
.target-cost .horline {
    border: none;
    border-top: 2px dotted #878787;
    /* color: #858585; */
    width: 50%;
    margin: 4% 3px 0px 5px;
}
.target-cost .mdc-typography--headline6 {
    font-size: 0.8rem;
    color: #878787;
    margin: 0 0 0 0;
    font-weight: 400;
}
.target-cost .mdc-typography--headline6.auto {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0 0 0;
}
.mdc-typography--headline6.approve {
    text-align: center;
    font-size: 1.1rem;
    color: #2F2F2F;
    margin: 0 0 0 0;
    padding: 7% 0 0 0;
}
.mdc-typography--headline6.additional {
    text-align: center;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 3% 0% 3% 0;
}
.mdc-typography--headline6.additional:hover {
    color: #172C9A;
}
.mdc-chip-set {
padding: 0% 30% 0% 30%;
}
.mdc-chip {
    padding: 7px 30px;
    font-size: 0.8rem;
    font-weight: 500;
}
.quote-bottom {
    margin: 20% 0 0% 0;
    background-color: #F0F0F0;
}
.btm-txt-img {
    padding: 4% 30% 10% 30%;
}
.btm-txt-img img {
    width: 15%
}
.btm-txt-img .mdc-typography--headline6 {
    padding: 0% 0% 0% 20%;
    margin: -5% 0px 0px 0px;
    font-size: 0.7rem;
    color: #cbd3d2;
    line-height: 1rem;
    font-weight: 100;
}
.target-cost .mdc-typography--headline6.total {
    font-size: 1rem;
}
.target-cost .mdc-typography--headline6.auto.totalC {
    font-size: 1.7rem;
}
.quote-data {
    padding: 0 10% 8% 10%;
    overflow: auto;
}
.target-cost img {
    width: 75%;
    padding: 6px 0 0 0;
}