<div class="mdc-card header">
  <div class="head-container">
    <div class="logo-content">
      <div class="logo">
          <a routerLink="/">
        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/Regalix_logo_SVG (White).svg" alt="company-logo">
        </a>
        <div class="ver-line"></div>
        <div class="content">
            <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
        </div>
      </div>
    </div>
    <mat-card>
      <div style="padding: 16px">
          <div class="heading">
              <h5 class="mdc-typography--headline5">Kuba, your quote is ready</h5>
            </div>
            <div class="text">
              <h6 class="mdc-typography--headline6">Thank you for interst in our services.Based on your needs, we can offer the following:</h6>
            </div>
            <div class="sol">
              <h6 class="mdc-typography--headline6">Solution Type: <span>eCommerce Support</span> </h6>
            </div>
            <hr style="width: 80%">
      </div>
      <div class="quote-data">
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/factory copy.png">
          <h6 class="mdc-typography--headline6">Target Industry:</h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">Automotive</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/world copy.png">
          <h6 class="mdc-typography--headline6">Target Country:</h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">USA</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/language.png">
          <h6 class="mdc-typography--headline6">Target Languages:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">Hindi, English</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/b-meeting.png">
          <h6 class="mdc-typography--headline6">Channels:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">Phone, Email</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/check-in.png">
          <h6 class="mdc-typography--headline6">Project Duration:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">12/01/19-16/01/19</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/time-clock.png">
          <h6 class="mdc-typography--headline6">Working Days & Hours:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">Month-Fri, 9-17GMT+2</h6>
        </div>
        <div class="target-cost" >
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/Group 2 Copy.png">
          <h6 class="mdc-typography--headline6">No. of Agents:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto">12 Agents</h6>
        </div>
        <div class="target-cost" style="margin: 8% 0 0 0;">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Project_page_info_320/round-dollar.png">
          <h6 class="mdc-typography--headline6 total">Total Cost:
          </h6>
          <div class="horline"></div>
          <h6 class="mdc-typography--headline6 auto totalC">$6,000</h6>
        </div>
      </div>

          <div class="quote-bottom">
          <h6 class="mdc-typography--headline6 approve">Let's approve your quote</h6>
          <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0" routerLink="/quote-approved">
                <div class="mdc-chip__text">APPROVE QUOTE</div>
              </div>
            </div>
            <h6 class="mdc-typography--headline6 additional">or get additional inforamtion</h6>
            </div>
    </mat-card>
    <div class="btm-txt-img">
      <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/Regalix_logo_SVG (White).svg" alt="regalix-logo">
        <h6 class="mdc-typography--headline6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</h6>
    </div>
  </div>
</div>