<div class="mdc-card header">
    <div class="head-container">
      <div class="logo-content">
        <div class="logo">
            <a routerLink="/">
          <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
          </a>
          <div class="ver-line"></div>
          <div class="content">
            <h6 class="mdc-typography--headline6">SUPPORT ON DEMAND</h6>
          </div>
          <span class="dashboard">DASHBOARD</span>
          <div class="sign-in">
            <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0">
                <div class="mdc-chip__text">Hello Ajay</div>
                <div class="mdc-chip__text"><i class="fa fa-angle-down" aria-hidden="true"></i> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-card top">
    <div class="industry">
      <div class="elevation-demo-container">
        <div style="display: inline-block">
        <h4 class="mdc-typography--headline4">Dashboard</h4>
        <h6 class="mdc-typography--headline6">Check status of your projects.</h6>
        </div>
        <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0" routerLink="/solutions">
              <div class="mdc-chip__text">START NEW PROJECT</div>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="attributes">
    <div class="mdc-card">
      <div class="industry">
        <h6 class="mdc-typography--headline6">You have 3 ongoing projhects </h6>
        <div class="elevation-container">
            <mat-card>
                <mat-card-content>
                    <table>
                        <tr>
                          <th>
                            <h6 class="mdc-typography--headline6">Ongoing Projects
                              </h6>
                          </th>
                          <th>
                            <div class="tab-item" >
                              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/check-in.png" alt="projects-dates">
                              <h6 class="mdc-typography--headline6">
                            Project Dates
                            </h6>
                            </div>
                          </th>
                          <th>
                            <div class="tab-item" >
                              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/b-meeting.png" alt="chanells">
                              <h6 class="mdc-typography--headline6">
                            Chanels
                            </h6>
                            </div>
                          </th>
                          <th>
                            <div class="tab-item" >
                              <img src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/Group 2.png" alt="agents">
                              <h6 class="mdc-typography--headline6">
                                Agents
                                </h6>
                                </div>
                              </th>
                          <th>
                            <div class="tab-item" >
                                <img src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/funnel-39.png" alt="status">
                              <h6 class="mdc-typography--headline6">
                            Status
                            </h6>
                            </div>
                          </th>
                        </tr>
                        <tr>
                          <td>
                              <h6 class="mdc-typography--headline6">
                            eCommerce Support
                            </h6>
                          </td>
                          <td>
                              <h6 class="mdc-typography--headline6">
                            Feb 19,2019-Jul 4, 2020
                            </h6>
                          </td>
                          <td>
                              <h6 class="mdc-typography--headline6">
                            Phone, Email
                            </h6>
                          </td>
                          <td>
                              <h6 class="mdc-typography--headline6">
                            12 agents
                            </h6>
                          </td>
                          <td>
                            <div style="display: inline-grid">
                              <button class="inactive" mat-raised-button>
                              <h6 class="mdc-typography--headline6">
                            Inactive
                            </h6>
                            </button>
                            <div class="tab-item">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Dashboard/spaceship.png" alt="schedule-meeting">
                            <h6 class="mdc-typography--headline6 status" routerLink="/shcedule-meeting2" style="margin: 0">Schedule Meeting</h6>
                            </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="mdc-typography--headline6">
                              eCommerce Support
                              </h6>
                            </td>
                            <td>
                                <h6 class="mdc-typography--headline6">
                              Feb 19,2019-Jul 4, 2020
                              </h6>
                            </td>
                            <td>
                                <h6 class="mdc-typography--headline6">
                              Phone, Email
                              </h6>
                            </td>
                            <td>
                                <h6 class="mdc-typography--headline6">
                              12 agents
                              </h6>
                            </td>
                            <td>
                                <button class="onboarding" mat-raised-button>
                                <h6 class="mdc-typography--headline6">
                              Onboarding
                              </h6>
                              </button>
                            </td>
                          </tr>
                          <tr>
                              <td>
                                  <h6 class="mdc-typography--headline6">
                                eCommerce Support
                                </h6>
                              </td>
                              <td>
                                  <h6 class="mdc-typography--headline6">
                                Feb 19,2019-Jul 4, 2020
                                </h6>
                              </td>
                              <td>
                                  <h6 class="mdc-typography--headline6">
                                Phone, Email
                                </h6>
                              </td>
                              <td>
                                  <h6 class="mdc-typography--headline6">
                                12 agents
                                </h6>
                              </td>
                              <td>
                                  <button class="complete" mat-raised-button>
                                  <h6 class="mdc-typography--headline6">
                                      <i class="fa fa-check" aria-hidden="true"></i>
                                Completed
                                </h6>
                                </button>
                              </td>
                            </tr>
                      </table>
                  </mat-card-content>
            </mat-card>
  
          <div class="mdc-chip-set start-new" style="text-align: center">
            <div class="mdc-chip" tabindex="0" routerLink="/solutions">
              <div class="mdc-chip__text">START NEW PROJECT</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>