
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 2% 12% 5% 10%;
}
.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 5% 0% 1% 0%;
}
.content .mdc-typography--headline6 {
    font-size: 1.1rem;
    color: #C8C8E5;
    text-align: start;
    margin: 0 0 0% 0;
    font-weight: 100;
} 
.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 4% 0%;
}

/* .elevation-demo-container.foot {
    float: left;
    display: flex;
} */

.sign-in .mdc-chip {
    background-color: #172C9A;
    border: 1px solid;
    padding: 7px 30px;
}
.mdc-chip:hover {
    color: white;
}
.mdc-chip i {
    font-size: 25px;
    margin: 0 0px 0 10px;
}
.mdc-card {
    background-color: #F0F0F0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.mdc-card.footer {
background-color:white;
height: unset;
width: unset;
}
.mdc-card.footer .mdc-chip-set {
    padding: 2% 0% 2% 0%
}
.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5% 0% 2% 0%;
}
.industry {
margin: 0px 10% 0px 10%;
}
span.dashboard {
    position: absolute;
    left:73%;
    font-size: 0.65rem;
    color: #758BC6;
    padding: 18px 0 18px 0px;
    font-family: sans-serif;
}

.elevation-container {
    min-height: 380px;
    }
    
    mat-card-content table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      mat-card-content tr {
          border-bottom: 1px solid #E6E6E6;
      }
      mat-card-content td, th {
        text-align: left;
        padding: 8px;
      }



      mat-card-content tr th:nth-child(1) .mdc-typography--headline6 {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
      }
      mat-card-content tr th:nth-child(5) .mdc-typography--headline6 {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
      }
      mat-card-content tr th .mdc-typography--headline6 {
        font-size: 0.8rem;
      }

      mat-card-content tr th:nth-child(1) .mdc-typography--headline6 {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
      }
      mat-card-content tr td:nth-child(1) .mdc-typography--headline6 {
        color: #1D1A94;
        font-size: 1.1rem;
        font-weight: 500;
      }
      mat-card-content tr td .mdc-typography--headline6 {
        font-size: 1.1rem;
        font-weight: 400;
      }
      .mdc-typography--headline6.status {
        color: #201B9E;
        font-size: 0.85rem !important;
        font-weight: 600 !important;
        cursor: pointer;
        padding: 3px 0 0 0;
      }
      button.inactive {
        background: #F8F8F8;
      }
      button.onboarding {
        background: #F3E7FE;
      }
      .onboarding h6 {
          color: #9026A6
      }
      button.complete {
          background: #FFFFFF;
      }
      .complete h6 {
          color: #30DEC1;
      }
      .mdc-chip-set.start-new {
        padding: 6% 20% 10% 20%;
      }
      .mdc-chip-set.start-new .mdc-chip {
        padding: 7px 35px;
        height: 38px;
        font-size: 0.8rem;
        font-weight: 500;
      }
      .mdc-card.top .mdc-chip-set {
        display: block;
        float: right;
        padding: 2% 0% 2% 0%;
      }
      .mdc-card.top .mdc-chip {
        padding: 7px 35px;
        height: 38px;
        font-size: 0.8rem;
        font-weight: 500;
      }
      .mdc-card.top .elevation-demo-container {
        padding: 4% 0 2% 0%;
      }
      .tab-item {
        display: -webkit-inline-box;  
      }
      .tab-item img {
        padding: 10px 6px 0px 0px;
        width: 65%;  
      }