
<div class="mdc-card header">
    <div class="head-container">
        <div class="logo-content">
          <div class="logo">
              <a routerLink="/">
            <img src="../../assets/images/contract/Regalix_logo_SVG (White).svg" alt="company-logo">
            </a>
            <div class="ver-line"></div>
            <div class="content">
                <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
              </div>
          </div>
        </div>
        <div class="correct-img">
        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/c-check.svg" alt="correct-img" style="width:45%">
        </div>
        <h4 class="mdc-typography--headline4">Thank you! Your order was sent successfully.</h4>
        <h6 class="mdc-typography--headline6">Set Password to generate Sow documents.</h6>
      </div>
</div>

<div class="solution">
  
  <h5 class="mdc-typography--headline5">Set password for your account</h5>
<div class="content-menu">
    <div class="elevation-demo-container" style="display: grid">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter password">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm Password">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <div class="mdc-chip-set">
              <div class="mdc-chip" tabindex="0" routerLink="/sign-contract">
                <div class="mdc-chip__text">CREATE ACCOUNT</div>
              </div>
            </div>
            <h6 class="mdc-typography--headline6 additional">or sign in to your existing account</h6>
      </div>

</div>

</div>
<div class="solution">
    <h5 class="mdc-typography--headline5">What happens next?</h5>
    <div class="content-menu2">
      <div class="elevation-demo-container">
        <div class="elevation-demo-surface">
          <div class="approve-quote" routerLink="/quote">
            <div class="img-circle">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/archive-3d-check.svg" alt="">
          </div>
            <h6 class="mdc-typography--headline6">Approve Quote</h6>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="sign-contact">
            <div class="img-circle">
            <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/signature.svg" style="width:45%">
            </div>
            <h6 class="mdc-typography--headline6">Sign Contact</h6>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="talk-agent">
            <div class="img-circle">
            <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/business-agent.svg">
            </div>
            <h6 class="mdc-typography--headline6">Talk to Agents</h6>
          </div>
        </div>
        <div class="elevation-demo-surface">
          <div class="project-kick">
            <div class="img-circle">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/spaceship.svg" alt="">
            </div>
            <h6 class="mdc-typography--headline6">Project Kick-off</h6>
          </div>
        </div>
      </div>
      <div class="text-content">
        <div class="head-img">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Thank_you/c-info.svg" alt="">
          <h6 class="mdc-typography--headline6 heading">Info about DocuSign</h6>
        </div>
        <h6 class="mdc-typography--headline6 text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley
        </h6>
      </div>
    </div>
  </div>
<div class="mdc-card">
<div class="footer">
    <p class="mdc-typography--headline6">Copyright @2019 Regalix Inc. All rights reserved.</p>
  </div>
</div>