<div mat-dialog-content class="vhw">
    <div class="mdc-card top">
        <div class="industry">
          <div class="elevation-demo-container">
            <div class="cross" (click)="dialogRef.close()">
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <!-- <img src="../../assets/images/cancel.png" alt="cancel"> -->
                <button class="mdc-icon-button material-icons">close</button>
            </div>
              <h4 class="mdc-typography--headline4">Sign Contract</h4>
               <h6 class="mdc-typography--headline6">Lorem Ipsum is simply dummy text of the dummy text of the dummy text of the printing and typesetting industry.             
               </h6>
          </div>
        </div>
      </div>
    <div class="attributes">
      <div class="mdc-card">
        <div class="industry">
            <!-- <perfect-scrollbar style="max-width: 800px; max-height: 1000px;" [config]="config"> -->
            <!-- <embed src="../../assets/images/productFlyer_978-1-4842-0110-7.pdf" width="850px" height="1150px" /> -->
            <img src="../../assets/images/contract/shutterstock_569340787.svg" width="850px" height="1150px" />
            <!-- </perfect-scrollbar> -->
        </div>
      </div>
    
      <div class="mdc-card footer">
        <div class="industry">
          <div class="elevation-demo-container foot">
            <div class="mdc-chip-set">
              <div class="mdc-chip sign" tabindex="0" (click)="dialogRef.close()" routerLink="/signed-successfully">
                <div class="mdc-chip__text">
                  SIGN NOW
                </div>
              </div>
              <div class="mdc-chip sign downl" tabindex="0" (click)="dialogRef.close()">
                  <div class="mdc-chip__text">
                    DOWNLOAD PDF
                  </div>
                </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
</div>
