


.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 600;
    font-size: 1.6rem;
    margin: 5% 0% 1% 0%;
}

.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 0% 0%;
    font-size: 0.8rem;
}
.elevation-demo-container.foot {
    float: left;
    display: flex;
}
.elevation-demo-surface {
    display: inline-flex;
    /* justify-content: space-around; */
    /* min-height: 70px; */
    min-width: 260px;
    margin: 20px;
    /* align-items: center; */
    background-color: white;
    box-shadow:  0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.elevation-demo-surface img {
    padding: 16px 15px 16px 15px;
    width: 11%;
    height: 11%;
}

.elevation-demo-container p.heading {
    font-weight: bolder;
    font-size: 15px;
    color: #2222ae;
    /* text-align: center; */
    margin: 21px 0 21px 0;
}

.elevation-demo-container label.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #2222ae;
    text-align: center;
    cursor: pointer;
    padding: 0% 20px 0% 20px;
}
.mdc-card {
    background-color: #F0F0F0;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.mdc-card.footer {
padding: 0% 0% 3% 0%;
background-color:white;
}

.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 5% 0% 1% 0%;
}
.industry {
margin: 0px 5% 0px 5%;
}

.mdc-chip-set {
    padding: 5% 0% 5% 0%;
}

.elevation-demo-surface fa-icon {
    padding: 5px 11px 0px 11px;
    font-size: 25px;
    color: grey;
}
.or {
    padding: 8% 0% 8% 0%;
}
.mdc-chip.sign {
    background-color: #FA60AD;
    padding: 7px 40px;
    /* margin: 13% 0px 0px 0px; */
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-chip.sign.downl {
    background-color: white;
}
.mdc-chip.sign.downl .mdc-chip__text {
    color: black;
}
.mdc-chip.sign.downl .mdc-chip__text:hover {
    color: #2222ae;
}
.mdc-chip.request-quote {
    padding: 0px 27px;
    font-size: 13px;
    font-weight: 500;
    background-color: #9e9e9e99
}
.mdc-text-field {
    height: 45px;
    width: 48px
}
.mat-mini-fab {
    width: 26px;
    height: 26px;
    margin: 0px 4px 0 4px;
}

.mi-btn {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: none;
    background-color: #FA60AD;
	margin: 5px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    cursor: pointer;
}
.mi-btn.minus{
background-color: #DADADA
}
.mi-btn fa-icon {
    font-size: 14px;
    padding: 0px 1px 0px 1px;
}
.mi-btn.minus fa-icon {
    color: black
}
.mi-btn.plus fa-icon {
color: white
}
.mdc-card .right-chips {
    display: inline-flex !important;
    position: absolute;
    right: 8%;
}
.mdc-typography--headline6.target-type {
    font-size: 0.7rem;
    font-weight: 400;
}
.heading i {
    margin: 0px 0px 0px 14px;
    font-size: 25px;
    color: gray;
}
.uploaded-data {
    display: inline-block;
    margin: 0 0 0 3%;
}
.cross:hover {
    cursor: pointer;
}
.cross i {
    /* position:absolute; */
    /* left: 95%; */
    font-size: 45px;
    float: right;
}
.cross img {
    float: right;
    width: 2%;
}
.cross button {
    float: right
}
.vhw {
    max-height: 98vh;
    width: 60vw; 
}
