/* You can add global styles to this file, and also import other style files */
@import "~@material/top-app-bar/dist/mdc.top-app-bar.css";
@import "~@material/typography/dist/mdc.typography.css";
@import "~@material/elevation/dist/mdc.elevation.css";
@import "~@material/chips/dist/mdc.chips.css";

@import "~@material/card/dist/mdc.card.css";
@import "~@material/icon-button/dist/mdc.icon-button.css";
@import "~@material/checkbox/dist/mdc.checkbox.css";
@import "~@material/form-field/dist/mdc.form-field.css";
@import "~@material/textfield/dist/mdc.textfield.css";
@import "~@material/select/dist/mdc.select.css";
@import "~@material/list/dist/mdc.list.css";
@import "~@material/menu-surface/dist/mdc.menu-surface.css";
@import "~@material/menu/dist/mdc.menu.css";
@import "~@material/card/dist/mdc.card.css";
@import "~@material/dialog/dist/mdc.dialog.css";
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


 /* overiding library css */

.mat-form-field-appearance-outline .mat-form-field-outline
{
    background:white;
}
.mat-menu-panel.workingHrs {
  width: 243px;
  margin: 25px;
}
.mat-menu-panel.workingdays {
  max-width: 300px !important;
}
.mat-menu-panel.workingdays .mat-checkbox-inner-container {
  margin-right: 18px !important;
}
.mat-menu-panel.indusrty {
  max-width: 248px !important;
}
.mat-menu-panel.targetLang {
  max-width: 248px !important;
}
.mat-menu-panel.targetLang .mat-checkbox-inner-container {
  margin-right: 18px !important;
}
.mat-menu-panel.targetSocial {
  max-width: 275px !important;
}
.mat-menu-panel.targetSocial .mat-checkbox-inner-container {
  margin-right: 18px !important;
}
.mat-menu-panel.country {
  max-width: 252px !important;
}
.mat-menu-panel.agents {
  max-width: 230px !important;
}
.mat-menu-panel.country .mat-checkbox-inner-container {
  margin-right: 18px !important;
}
.mat-menu-panel {
  max-width: 226px !important;
  border: 1px solid #FA62AE;
  margin-top: 3px;
}
.mat-menu-panel.mob-menus-item {
  max-width: 350px !important;
  width: 300px;
  margin: -60px 0 0 0px;
}

/* solutions css  start here*/
.head-container {
    height: 10%;
    width: 100%;
    background-color: #172C9A;
    /* position: fixed; */
  }
  
  .head-container .logo-content {
      padding: 3% 10% 3% 10%;
      /* padding-top: 2%; */
  }
  @media only screen and (max-width: 1080px) {
    .head-container .logo-content {
      padding: 2% 3% 3% 2%;
    }
  }
  @media only screen and (max-width: 768px) {
    .head-container .logo-content {
      padding: 2% 3% 3% 2%;
    }
  }
  .head-container .ver-line {
    float: left;
    border-left: 2px solid white;
    height: 26px;
    display: inline-block;
  }
  /* @media only screen and (max-width: 768px) {
    .head-container .ver-line {
      height: 36px;
    }
  } */
  .head-container .logo-content .content {
    /* display: inline-block; */
    width: 20%;
    float: left !important;
    padding: 0px 0px 0px 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .head-container .logo-content .content {
      width: 21%;
    }
  }
  .head-container .logo-content .content span {
    color: #C2C0E2;
    font-size: 1.1rem;
    font-weight: 100;
}
  /* .head-container .logo-content .content span {
    color: white;
    font-size: 20px;
    margin-left: 8px;
    font-family: monospace;
    font-style: normal;
  } */
  @media only screen and (max-width: 768px) {
    .head-container .logo-content .content span {
      font-size: 13px;
    }
  }
  .head-container .logo .sign-in {
    display: inline-block;
    float: right;
  }
  
    .head-container .logo .sign-in button {
      font-weight: 600;
      padding: 8px 20px;
      font-size: 11px;
      color: #2287d7;
      border-radius: 38px;
      cursor: pointer;
      background-color: white;
      border-block-end-color: white;
      border: 1px solid white;
    }
  .head-container .logo-content .logo img {
    width: 8%;
    padding-right: 10px;
    height: auto;
    float: left;
  }
  @media only screen and (max-width: 768px) {
    .head-container .logo-content .logo img {
      width: 35%;
    }
  }
  .head-container h1 {
    color: white;
    text-align: center;
    /* margin-left: 45%; */
    font-size: 52px;
    font-family: sans-serif;
  }
  .head-container p {
  color: #A2A9D6;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  /* font-family: sans-serif; */
  margin: 0 0 5% 0;
  }
  
  .solution h6.mdc-typography--headline6 {
      text-align: center;
      color: #607d8b;
      font-weight: 400;
  }
  .footer {
    height: 80px;
    width: 100%;
    background-color: #085BA7;
  }
  .footer p {
    text-align: center;
    padding: 1% 0% 0 0 !important;
    color: #C3D2E8;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: .05rem;
  }
  .elevation-container {
      margin: auto;
      flex: 1 1 auto;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      min-height: 600px;
  }
  .mdc-elevation--z1 {
    background-color: white;
      float: left;
      margin: 0 2% 0% 2%;
      align-items: center;
      width: 20%;
      height: auto;
  }
  @media only screen and (max-width: 768px) {
    .mdc-elevation--z1 {
      margin: 6% 2% 0% 2%;
    }
  }
  .mdc-elevation--z1 p.heading {
      font-weight: bolder;
      font-size: 18px;
      color: #2222ae;
      text-align: center;
  }
  .elevation-container .box-grp {
    padding: 0px 5% 0px 5%;
  }
  
  .mdc-elevation--z1 img {
    margin-block-end: 13em;
    margin-inline-start: 25px;
    width: 45%
  }
  
  .mdc-chip {
    background-color: #FA60AD;
    color: white;
    padding: 7px 50px;
    height: 40px;
    border-radius: 20px;
  }
  .mdc-elevation--z1 .box-text {
    /* text-align: center; */
      padding: 8px 50px 0px 50px;
      font-size: 13px;
      color: #80808091;
      font-weight: bolder;
      text-align: justify;
      font-weight: inherit;
      font-family: sans-serif;
      line-height: 30px;
  }
  .mdc-chip-set {
    text-align: center;
      padding: 0% 20% 8% 20%;
      display: block !important;
  }
  .img-box {
    height: 73px;
      padding: 14% 28% 0% 28%;
  }
  /* solutions css  start ends here*/



  /* .ngx-mat-drp-calendar-item:nth-child(3n) {
    display: none;
    } */

    .mat-dialog-container {
      padding: 0 0 0 0 !important;
    }
    .mat-dialog-content {
      margin: 0 !important;
      padding: 0 !important;
    }
  /* .cdk-overlay-pane {
      width: 60vw;
    } */
    /* mat-checkbox label {
      color: #1D1A94 !important;
  } */
    mat-checkbox.surface label{
      color: #1D1A94;
      font-weight: 500;
      font-size: 1.1rem;
    }

.whreg .solution .mat-card-header-text {
  margin: 0;
}
.surface .mat-checkbox-inner-container {
  height: 25px;
  width: 25px;
  margin-right: 22px;
}


.agent-date input#daterangepicker_input {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 0 0 10px;
  /* color: #919191f5; */
}
.agent-time input#timepicker_input {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 0 0 10px;
  /* color: #919191f5; */
}

.text-d input#daterangepicker_input{
  font-size: 1.1rem;
  font-weight: 500;
  color: #1D1A94;
}
.text-d input#ej2-datepicker_0_input {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1D1A94;
}
 .text-d input#timepicker_input {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1D1A94;
 }