<div class="mdc-card header">
    <div class="head-container">
<div class="responsive-design-header">
        <button class="mob-menu" [matMenuTriggerFor]="menu">
            <i class="fa fa-bars" aria-hidden="true" style="color: white;font-size: 25px"></i>
        </button>
<mat-menu #menu="matMenu" class="mob-menus-item">
        <button mat-menu-item>
                   <mat-icon>clear</mat-icon>
                   <span>MENU</span>
        </button>
  <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      
    </button>
  <button mat-menu-item>
        <mat-icon>explore</mat-icon>
        <span>SOLUTIONS</span>
      </button>
  <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>CLIENTS</span>
      </button>
  <button mat-menu-item>
        <mat-icon>call</mat-icon>
        <span>CONTACT</span>
      </button>
  <button mat-menu-item>
        <mat-icon>how_to_reg</mat-icon>
        <span> SIGN IN </span>
    </button>
</mat-menu>
<div class="responisve-logo">
        <a routerLink="/">
    <img src="../../assets/images/logo-white.png" alt="company-logo" style="width:25%">
    </a>
    <div class="ver-line"></div>
            <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
</div>
</div>
        <div class="logo-content">
            <div class="logo">
                <img src="../assets/images/logo-white.png" alt="company-logo">
                <div class="ver-line"></div>
                <div class="content">
                    <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
                </div>
                <div class="menus-item" style="float: right">
                    <ul>
                        <li>
                            <button mat-button>
                                <a class="mdc-typography--headline6" style="color:white">
                                    Home
                                </a>
                            </button>
                        </li>
                        <li>
                            <button mat-button>
                                <a class="mdc-typography--headline6">
                                    SOLUTIONS </a>
                            </button>
                        </li>
                        <li>
                            <button mat-button>
                                <a class="mdc-typography--headline6">
                                    CLIENTS
                                </a>
                            </button>
                        </li>
                        <li>
                            <button mat-button>
                                <a class="mdc-typography--headline6">
                                    CONTACT
                                </a>
                            </button>
                        </li>
                        <li>
                            <div class="sign-in">
                                <button (click)="openDialogSignIn()">SIGN IN</button>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>


        </div>
        <h5 class="mdc-typography--headline5 deli">Delight your customers with</h5>
        <h1 class="mdc-typography--headline4">Extraordinory Customer Experience</h1>
        <h5 class="mdc-typography--headline5">Get Contact center 5 minutes!</h5>
        <h5 class="mdc-typography--headline5"> On-demand agents + platform in Cloud.</h5>
        <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0" routerLink="/solutions">
                <div class="mdc-chip__text">GET STARTED</div>
            </div>
        </div>
        <div class="banner-img" style="text-align: center">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/shutterstock_679658182.png">
        </div>
    </div>
</div>
<div class="mdc-card top">
    <div class="industry">
        <div class="elevation-demo-container">
            <h4 class="mdc-typography--headline5">Hi, we'are Regalix.</h4>
            <h6 class="mdc-typography--headline6">We provide on Demand Sales, Customer Success & Customer Support solutions
                tailored to needs.Whether you need an on-demand or full time dedicated team , we have it all.</h6>
                <img class="regsuppimg-nores" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/shutterstock_1243156864.png">
        </div>
    </div>
    <img class="regsuppimg-res" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/shutterstock_1243156864.png">
</div>
<div class="mdc-card help">
    <div class="solution">
        <p class="mdc-typography--headline6 help">How Can We Help you ? </p>
        <div class="elevation-container" style="display: flex">
            <mat-card class="sol-card">
                <p class="mdc-typography--headline6 cust">Customer Aquisition</p>

                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/b-add.png">

                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> B2B Inside Sales
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Retail Contact Center
                    </p>
                </mat-card-content>

            </mat-card>

            <mat-card class="sol-card">
                <p class="mdc-typography--headline6 cust">E-Commerce Support</p>

                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/cart-speed.png">

                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Omnichanel Customer Support
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Phone, Chat, Social
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Global Customer Service
                    </p>
                </mat-card-content>

            </mat-card>
            <mat-card class="sol-card">
                <p class="mdc-typography--headline6 cust">Customer Success for B2B</p>

                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/check-circle-07.png">

                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Customer Onboarding
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Account Management
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Renewals Management
                    </p>
                    <p class="mdc-typography--headline6">
                        <span style="color:#FB70B5">-</span> Customer Support
                    </p>
                </mat-card-content>

            </mat-card>
        </div>
    </div>

</div>


<div class="mdc-card hwdItW">
    <div class="solution">
        <p class="mdc-typography--headline6 help">How it works ? </p>
        <div class="elevation-container" style="display: flex">
            <mat-card class="sol-card">
                <div class="img-circle">
                    <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/bulb-63.png" alt="">
                </div>
                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        Select the solution most applicable to your business challenge
                    </p>
                </mat-card-content>

            </mat-card>

            <mat-card class="sol-card">
                <div class="img-circle">
                    <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/business-agent.png">
                </div>
                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        Specify the number of agents required, and the duration of the project
                    </p>
                </mat-card-content>

            </mat-card>
            <mat-card class="sol-card">
                <div class="img-circle">
                    <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/distance.png">
                </div>
                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        Select the location of delivery center
                    </p>
                </mat-card-content>

            </mat-card>
            <mat-card class="sol-card">
                <div class="img-circle">
                    <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/spaceship.png" alt="">
                </div>
                <mat-card-content>
                    <p class="mdc-typography--headline6">
                        Onboarding & Go-Live
                    </p>
                </mat-card-content>

            </mat-card>
        </div>
    </div>

</div>
<div class="mdc-card whreg">
    <div class="industry">
        <div class="elevation-demo-container">
            <h4 class="mdc-typography--headline5">Why Regalix? </h4>
            <h6 class="mdc-typography--headline6 head">We are the one-stop for all your Customer Experience needs.</h6>
            <img class="whreg-img" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/shutterstock_680087317.png">
            <hr/>
            <div class="solution">
                <div class="elevation-container" style="display: flex">
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/business-agent.png" alt="">
                            <h6 class="mdc-typography--headline6">On Demand Skill Agents</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                Specify the expertise and the number of agents require to handle your customer engagement initiatives and we will provide
                                the agents effective immediately. We have over 1300 agents worldwide trained on multiple
                                workstreams such as customer support, success and sales for global customers.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/chart-bar-33.png" alt="">
                            <h6 class="mdc-typography--headline6">Quality & Governance</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We have a dedicatted quality and training team that icorporates the best practices in the industry to ensure high CSAT. Our
                                partner platform also allows our customer to be able to view agent productivity, call logs,
                                call recording, barge in live calls etc to be able to view how we are handling your customers
                                at any place and time.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/settings-gear-65.png" alt="">
                            <h6 class="mdc-typography--headline6">Quick and easy Setup</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                Need to set up your team urgently? We have all it takes to get it up and running in challenging timeframes. We use our partner
                                technology platform(Talkdesk) to setup and run your contact center within 24 hours.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/sign-24h copy.png" alt="">
                            <h6 class="mdc-typography--headline6">Multilingual 24/7 support</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We have agent based in all time zones to ensure coverage all over the globe, at all times(including weekend and holidays).
                                Some of the languages include: English, French, Spanish, Portugues, Polish, German, Mandarin,
                                Japanese & Vietnamese
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/resistance-band.png" alt="">
                            <h6 class="mdc-typography--headline6">Flexibility</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We can set up your dedicated customer or an on-demand support team on the existing infrastructure or build a new one from
                                scratch.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/app-services.png" alt="">
                            <h6 class="mdc-typography--headline6">Full integration</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We can integrate with any major CRMS and support portals, including ZenDesk, Salesforce and others. View integration here.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/single-content-02.png" alt="">
                            <h6 class="mdc-typography--headline6">Online document processing</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We respect your time, therefore we offer contract processing without the need to schedule a meeting.
                            </p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="sol-card">
                        <mat-card-header>
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/fit-horizontal.png" alt="">
                            <h6 class="mdc-typography--headline6">Agility</h6>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                We're big enough to scale, so you can expand you teams during peak-times as necessary.
                            </p>
                        </mat-card-content>

                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mdc-card integrate">
        <div class="solution">
            <p class="mdc-typography--headline6 help">Integrations </p>
            <div class="elevation-container" style="display: flex">
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/1200px-Salesforce_logo.svg.png" alt="">
    
                </mat-card>
    
                <mat-card class="sol-card">
                        <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/datahero-desk-logo.png">
                </mat-card>
                <mat-card class="sol-card">
                        <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image7.png">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image3.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image17.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image19.png" alt="">
    
                </mat-card>


    
                <mat-card class="sol-card">
                        <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image9.png">
                </mat-card>
                <mat-card class="sol-card">
                        <img alt="" src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image14.png">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image5.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image13.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image6.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image15.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image1.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image8.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image10.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image16.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image18.png" alt="">
    
                </mat-card>
                <mat-card class="sol-card">
                        <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image11.png" alt="">
    
                </mat-card>

                
            </div>
        </div>

    
    </div>
    <div class="mdc-card integrate" style="background: #FCFAFF">
            <div class="solution">
                    <p class="mdc-typography--headline6 help">Brands that trust us </p>
                    <div class="elevation-container" style="display: flex; min-height: 180px">
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/image14.png" alt="">
        
                    </mat-card>
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Reddit-logo.png" alt="">
        
                    </mat-card>
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Citibank-logo.png" alt="">
        
                    </mat-card>
                    <!-- <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/dell-logo-transparent copy.png" alt="">
        
                    </mat-card> -->
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Unknown.png" alt="">
        
                    </mat-card>
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/logo-300.png" alt="">
        
                    </mat-card>
                    <!-- <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/ag-logo.png" alt="">
        
                    </mat-card> -->
                    <mat-card class="sol-card brandtrust">
                            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/logo.png" alt="">
        
                    </mat-card>
                    </div>
            </div>
    </div>
    <div class="mdc-card custrev">
            <div class="solution">
                <p class="mdc-typography--headline6 help">What our customers are saying? </p>
                <div class="elevation-container" style="display: flex">
                    <mat-card class="sol-card">
        
                        <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Oval 2.png">
                        <p class="mdc-typography--headline6 cust">Stephan Nowak</p>
                        <p class="mdc-typography--headline6 subHead">Inter Cars S.A.</p>
                        <img class="invercom" mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/“ copy.png">
                        <mat-card-content>
                            <p class="mdc-typography--headline6">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </mat-card-content>
        
                    </mat-card>
                    <mat-card class="sol-card">
        
                            <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Oval 2 Copy.png">
                            <p class="mdc-typography--headline6 cust">Patrick Kluivert</p>
                            <p class="mdc-typography--headline6 subHead">FC Barcenlona</p>
                            <img class="invercom" mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/“ copy.png">
                            <mat-card-content>
                                <p class="mdc-typography--headline6">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </mat-card-content>
            
                        </mat-card>
                        <mat-card class="sol-card">
        
                                <img mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/Oval 2 Copy 2.png">
                                <p class="mdc-typography--headline6 cust">Rico Garcia</p>
                                <p class="mdc-typography--headline6 subHead">Mystic Inc.</p>
                                <img class="invercom" mat-card-image src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/“ copy.png">
                                <mat-card-content>
                                    <p class="mdc-typography--headline6">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    </p>
                                </mat-card-content>
                
                            </mat-card>
                </div>
            </div>
        
        </div>
        <div class="mdc-card startSupp">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Homepage/shutterstock_680087317 copy.png" alt="">
            <div class="text-set">
            <h3 class="mdc-typography--headline3">Shall we start?</h3>
            <h6 class="mdc-typography--headline6">Tel us what you need and we'll get back to you with a quote.</h6>
            <div class="mdc-chip-set">
                    <div class="mdc-chip" tabindex="0" routerLink="/solutions">
                        <div class="mdc-chip__text">GET A QUOTE</div>
                    </div>
                </div>
                </div>
        </div>
<div class="mdc-card hfooter">
<div class="foter-text">
<p class="mdc-typography--headline6 copyright">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Regalix Inc. All rights reserved.</p>
<p class="mdc-typography--headline6 privacy">Privacy Policy | Coolies Policy</p>
</div>
</div>