ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
  li button a {
      font-size: 0.75rem;
      color: #8391BF;
  }
  .head-container .logo .sign-in {
    margin: 5px 0 0 0;
}
.head-container .logo-content {
    padding: 3% 10% 5% 10%;
}
h5.mdc-typography--headline5 {
    text-align: center;
    color: white;
    margin: 2% 0 1% 0;
    letter-spacing: 2px;
}
@media only screen and (max-width: 600px) {
    h5.mdc-typography--headline5 {
        color: #989BC7;
        letter-spacing: normal;
        font-size: 1rem;
    }
  }

h5.mdc-typography--headline5.deli {
font-weight: 600;
}
@media only screen and (max-width: 600px) {
    h5.mdc-typography--headline5.deli {
        font-size: 1rem;
        font-weight: 400 !important;
        letter-spacing: normal;
        color: white;
    }
  }
  .banner-img img {
      width: 75%;
      text-align: center;
  }
  @media only screen and (max-width: 600px) { 
      .banner-img img {
          width: 100%;
      }
  }

.head-container h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 1% 0 1% 0;
}
@media only screen and (max-width: 600px) {
    .head-container h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.mdc-chip-set {
    padding: 2% 20% 8% 20%;
}
.mdc-chip {
    padding: 7px 35px;
    font-size: 0.75rem;
    font-weight: 500;
}
.mdc-card.top .industry {
    padding: 0% 20% 0 20%;
    text-align: center;
}
.mdc-card.top .industry .mdc-typography--headline5 {
font-weight: 500;
}
.mdc-card.top .industry .mdc-typography--headline6 {
    font-size: 1.6rem;
    font-weight: 400;
    }
    @media only screen and (max-width: 600px) { 
        .mdc-card.top .industry .mdc-typography--headline6 {
            font-size: 1rem;
        }
    }
    @media only screen and (min-width: 600px) {
        img.regsuppimg-nores{
            width: 75%;
        }
     }
     @media only screen and (min-width: 600px) {
        img.regsuppimg-res{
            display: none
        }
     }

    @media only screen and (max-width: 600px) { 
        img.regsuppimg-res {
            width: 100%;
        }
    }
    @media only screen and (max-width: 600px) { 
        img.regsuppimg-nores {
            display: none;
        }
    }
    .mdc-card.help {
        background: #F0F0F0;
    }
    .mdc-card.help h6 {
        text-align: center;
        font-size: 1.7rem;
    }
    .sol-card {
        max-width: 325px;
        margin-bottom: 5%;
        text-align: center;
        width: 325px;
    }
    .mat-card-image {
        /* margin: 0 0 0 0;
        padding: 10% 35% 4% 35%; */
        width: 13%;
    }
    @media only screen and (max-width: 600px) { 
        .mat-card-image {
            width: 13%;
        }
    }
    .solution {
        margin: 0% 8% 0% 8%;
    }
    .elevation-container {
        min-height: 395px;
    }
    p.mdc-typography--headline6.cust {
        margin: 8% 0% 5% 0;
        font-size: 1.1rem;
    }
 @media only screen and (max-width: 600px) {
    p.mdc-typography--headline6.cust {
        font-size: 1.5rem;
}
  }
    mat-card-content p.mdc-typography--headline6 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 0 0 0;
    }
   p.mdc-typography--headline6.help{
        text-align: center;
        font-size: 1.5rem;
        margin: 5% 0 5% 0%;
    }


    
/* @media only screen and (max-width: 320px) {
.menus-item {
    display: none;
}
  }
  @media only screen and (max-width: 480px) {
.menus-item {
    display: none;
}
}
@media only screen and (min-width: 768px) {
    .mob-menu {
        display: none
    }
}
@media only screen and (min-width: 992px) {
    .mob-menu {
        display: none
    }
}
@media only screen and (min-width: 1200px) {
    .mob-menu {
        display: none
    }
} */
@media only screen and (max-width:600px) {
    .responsive-design-header {
        display: -webkit-box;
        margin: 10% 0% 10% 0%;
        }
}

.responsive-design-header img {
    margin: 0 0 0 45px;
}
.responsive-design-header .ver-line {
        float: unset;
        border-left: 2px solid white;
        height: 26px;
        display: inline-block;
        margin: 0 5% 0 5%;
        vertical-align: super;
}
.responsive-design-header span{
    color: #C2C0E2;
    font-size: 0.8rem;
    font-weight: 100;
    display: inline;
    vertical-align: top;
}
@media only screen and (min-width: 600px) {
    .responisve-logo    {
        display: none;
}
}
.mat-menu-item {
    font-size: 1.0rem;
    font-weight: 500;
}
.mob-menu {
    background: #172C9A;
    border: #172C9A;
    margin: 2% 0 0 2%;
}
@media only screen and (max-width: 600px) {
    .logo-content {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .mob-menu {
        display: none
    }
}
.cdk-overlay-connected-position-bounding-box {
    top: 0 !important;
}
.hiwts .mdc-typography--headline5 {
    text-align: center;
    font-weight: 500;
}
/* .content-menu {
 margin: 0px 15% 0px 22%;
} */
.elevation-demo-surface {
    display: inline-flex;
    margin: 0 6% 0% 6%;
    width: 10%;
    
    /* min-height: 70px; */
    /* min-width: 185px;
    margin: 20px;
    align-items: center;
    text-align: center; */
}


.hwdItW .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.hwdItW .sol-card {
    width: 218px;
}
@media only screen and (max-width: 600px) {
    .hwdItW .sol-card {
        width: unset;
    }
}
.hwdItW img {
    width: 70%;
}

.hwdItW .img-circle {
    border-radius: 50%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 10%;
    width: 20%;
    position: inherit;
    left: 25%;
}
.mdc-card.whreg {
    background: #17187C;
    text-align: center;
}
.mdc-card.whreg .mdc-typography--headline5 {
    color: white;
    margin: 4% 0 0 0;
}
.mdc-card.whreg .mdc-typography--headline6 {
    color: white;
    margin: 0 0 4% 0;
    font-weight: 100;
}
@media only screen and (max-width: 600px) {
    .mdc-card.whreg .mdc-typography--headline6.head  {
        color: #A099C7;
        font-size: 1rem;
        font-weight: 500;
        padding: 2% 10% 2% 10%;
}
}
.whreg img.whreg-img {
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .whreg img.whreg-img {
        width: 90%
    }
}
.whreg hr {
   border-width: 0.5px;
   border-color: #7278B5;
}

.whreg .sol-card {
    background: #17187C;
    box-shadow: none;
}
.whreg .solution {
    margin: 4% 18% 0% 18%;
}
@media only screen and (max-width: 600px) {
    .whreg .solution {
        margin: unset;
    }
}
.whreg .solution .mat-card {
    max-width: 410px;
    width: 400px;
}
.whreg .solution .mat-card mat-card-header .mdc-typography--headline6 {
    margin: 2% 4% 2% 4%;
    font-weight: 500;
    font-size: 1.1rem;
}
@media only screen and (max-width: 600px) {
    .whreg .solution .mat-card mat-card-header .mdc-typography--headline6 {
        font-size: 1.3rem;
    }
}
.whreg .solution .mat-card mat-card-header {
    margin: 0 0 5% 0;
}
@media only screen and (max-width: 600px) {
    .whreg .solution .mat-card mat-card-header {
        margin: 5% 0px 5% 5%;
    }
}
.whreg .solution mat-card-content .mdc-typography--headline6 {
font-size: 0.85rem;
text-align: initial;
color: #D0D0E5;
}
@media only screen and (max-width: 600px) {
    .whreg .solution mat-card-content .mdc-typography--headline6 {
        font-size: 1rem;
        text-align: center;
    }
}
.whreg .solution .sol-card {
    margin-bottom: 0%;
}
.whreg .solution .mat-card img {
    width: 9%;
    height: 5%;
}

.integrate  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.integrate mat-card {
    width: auto;
    }
.integrate mat-card img{
width: 80%;
}
.integrate .sol-card.brandtrust {
    background: #FCFAFF;
}
.custrev img {
    margin: 4% 0 0 0;
}
@media only screen and (max-width: 600px) {
    .custrev img {
        width: 20%;
    }
}
.custrev p.mdc-typography--headline6.cust {
    margin: 2% 0 0 0;
}
.custrev mat-card-content p.mdc-typography--headline6 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 20px;
    padding: 0% 17% 0 17%;
}
@media only screen and (max-width: 600px) {
    .custrev mat-card-content p.mdc-typography--headline6 {
        font-size: 1rem;
        line-height: 30px;
    }
}
.custrev .mdc-typography--headline6.subHead {
    font-size: 0.9rem;
    margin: 0;
    color: grey;
}
@media only screen and (max-width: 600px) {
    .custrev .mdc-typography--headline6.subHead {
        font-size: 1.25rem;
        font-weight: 400;
    }
}
.custrev img.invercom {
    width: 6%;
    margin: 4% 0 4% 0;
}
.mdc-card.startSupp {
background: #172C9A;
padding: 5% 0 0 0;
}
@media only screen and (max-width: 600px) {
    .mdc-card.startSupp {
        align-items: center
    }
}
@media only screen and (min-width: 600px) {
    .startSupp .mdc-chip-set {
        padding: unset;
        text-align: unset;
    }
}

@media only screen and (min-width: 600px) {
    .startSupp .text-set {
        position: absolute;
        right: 15%;
        padding: 4% 0 5% 0;
    }
}
.startSupp img {
width: 40%;
}
@media only screen and (max-width: 600px) {
    .startSupp img {
        width: 100%;
        }
}
@media only screen and (max-width: 600px) {
    .text-set {
        text-align: center;
    }
}

.startSupp .text-set .mdc-typography--headline3 {
    color: white;
    font-weight: 500;
    font-size: 3.6rem;
    margin: 5% 0 5% 0;
}
@media only screen and (max-width: 600px) {
    .startSupp .text-set .mdc-typography--headline3 {
    font-size: 1.5rem;
    font-weight: 400;
    }
}

.startSupp .text-set .mdc-typography--headline6 {
    margin: 3% 0 3% 0;
    color: white;
    font-weight: 400;
    font-size: 1.1rem
}
@media only screen and (max-width: 600px) {
    .startSupp .text-set .mdc-typography--headline6 {
        margin: 3% 10% 3% 10%;
        font-size: 1rem;
    }
}
.mdc-card.hfooter {
    padding: 2% 0% 2% 0;
}

.hfooter .mdc-typography--headline6.copyright {
font-size: 0.8rem;
padding: 0% 0% 0% 8%;
font-weight: 400
}

@media only screen and (max-width: 600px) {
    .hfooter .mdc-typography--headline6.copyright {
        padding: 0;
        }
}
.hfooter .mdc-typography--headline6.privacy {
    /* position: absolute; */
    /* right: 10%; */
    font-size: 0.8rem;
    color: #2E52AA;
    font-weight: 400;
    /* padding: 0% 0% 0% 8%; */
}
@media only screen and (min-width: 600px) {
    .foter-text {
       display: -webkit-box;
    }
}
@media only screen and (max-width: 600px) {
    .foter-text {
       text-align: center
    }
}
@media only screen and (min-width: 600px) {
    .hfooter .mdc-typography--headline6.privacy {
        position: absolute;
        right: 10%;
        font-size: 0.8rem;
        color: #2E52AA;
        font-weight: 400;
    }
}