
<div class="mdc-card header">
    <div class="head-container">
      <div class="logo-content">
        <div class="logo">
            <a routerLink="/">
          <img src="../assets/images/logo-white.png" alt="company-logo">
          </a>
          <div class="ver-line"></div>
          <div class="content">
            <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
          </div>
          <div class="sign-in">
            <button>SIGN IN</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="mdc-card top">
    <div class="industry">
      <div class="elevation-demo-container">
          <h4 class="mdc-typography--headline4">Select Attributes</h4>
           <h6 class="mdc-typography--headline6">Tell us about the kind of team you're looking to setup.</h6>
      </div>
    </div>
  </div>
<div class="attributes">
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">What are your target industry, region and language? </h6>
      <div class="elevation-demo-container">
        <div  class="elevation-demo-surface" [matMenuTriggerFor]="menu">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/factory copy.png">
          <p class="mdc-typography--headline6" >Target Industry</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
            <mat-menu #menu="matMenu" class="indusrty">
              <button mat-menu-item>
                  <p class="menus" routerLink="/attributes2">Automotive</p>
                </button>
              <button mat-menu-item>
                  <p class="menus" >Heading</p>
              </button>
              <button mat-menu-item>
                  <p class="menus" >Marketing</p>
              </button>
            </mat-menu>
        </div>
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/world copy.png">
          <p class="mdc-typography--headline6" >Target Countries</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/language.png" style="padding: 5px 10px 7px 8px;">
          <p class="mdc-typography--headline6" >Target Languages</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>

      </div>
    </div>
  </div>
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">Which chanel would you like to cover?</h6>
      <div class="elevation-demo-container">
        <div  class="elevation-demo-surface chanel">
                <!-- <div class="mdc-checkbox">
                  <input type="checkbox"
                         class="mdc-checkbox__native-control"
                         id="checkbox-1"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path"
                            fill="none"
                            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
                <label class="heading" for="checkbox-1">Phone</label> -->
          <mat-checkbox class="surface">Phone</mat-checkbox>

        </div>
        <div  class="elevation-demo-surface chanel">
            <!-- <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="checkbox-2"/>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                       viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
              <label class="heading" for="checkbox-2">Email</label> -->
          <!-- <mat-checkbox class="example-margin"></mat-checkbox>

          <p class="heading" >Email</p> -->
          <mat-checkbox class="surface">Email</mat-checkbox>
        </div>
        <div  class="elevation-demo-surface chanel">
            <!-- <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="checkbox-3"/>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                       viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>

              <label class="heading" for="checkbox-3">Chat</label> -->
          <mat-checkbox class="surface"> Chat </mat-checkbox>

         
        </div>
        <div  class="elevation-demo-surface chanel">
            <!-- <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="checkbox-4"/>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                       viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
              <label class="heading" for="checkbox-4">Social Media</label> -->
          <mat-checkbox class="surface">Social Media</mat-checkbox>

        </div>

      </div>
    </div>
  </div>
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">What will be your project duration and number of agents?</h6>
      <div class="elevation-demo-container">
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/multiple-11.png" alt="agents">
          <p class="mdc-typography--headline6" >No. of Agents</p>

          <button class="mi-btn minus" (click)="decrementNumber()">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
              <input type="number" value="0" class="mdc-text-field__input num" aria-label="Label" #inc>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <button class="mi-btn plus" (click)="incrementNumber()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
        </div>
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/check-in.png" alt="Project duretions">
          <p class="mdc-typography--headline6" >Project Duration</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/time-clock.png" alt="working hrs">
          <p class="mdc-typography--headline6" >Working days & Hours</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/world-2.png" alt="time zone">

          <p class="mdc-typography--headline6" >Time Zone</p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>

        </div>
<!-- date selections range example -->

        <!-- <div class="demo-main">

            <div class="demo-box">
              Selected date from: {{range.fromDate|date}} to: {{range.toDate|date}} 
            </div>
            <button (click)="reset()">Reset Dates</button>
            <hr class="demo-rule">
            <div class="demo-box">
              <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #pickerOne>
              </ngx-mat-drp>
              
            </div>
          
          </div> -->

      </div>
    </div>
  </div>

  <div class="mdc-card footer">
    <div class="industry">
      <div class="elevation-demo-container foot">
        <div class="mdc-chip-set">
          <div class="mdc-chip go-back" tabindex="0">
            <div class="mdc-chip__text" style="color:black" (click)="goBack()">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
              GO BACK
            </div>
          </div>
        </div>
        <div class="right-chips">
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #9e9e9e99;">
              <div class="mdc-chip__text">
                REQUEST A QUOTE</div>
            </div>
          </div>
          <div class="or">
            or
          </div>
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #9e9e9e99;">
              <div class="mdc-chip__text">
                READY TO ORDER</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>