button mat-checkbox {
    font-weight: 500;
    font-size: 18px;
    color: #1D1A94;
    text-align: start;
}
mat-list-item mat-checkbox {
    font-weight: 500;
    font-size: 18px;
    color: #1D1A94;
    text-align: start;
}
.elevation-demo-surface i {
    font-size: 26px;
    padding: 0 8px 0 29px;
    color: #8E8CC9; 
}
.target .elevation-demo-surface {
    min-width: 250px;
}
.mdc-typography--headline6.target-type{
    font-size: 0.7rem;
    margin: 7px 0 0 0;
}
.text-d .heading {
    margin: 0 0 14% 0;
}
.mdc-card.header {
    padding: 0% 0% 0% 0%; 
}
.head-container .logo-content {
    padding: 0% 10% 4% 10%;
    padding-top: 2%;
}
.mdc-card.top {
    background-color: white;
}
.mdc-card.top .mdc-typography--headline4 {
    font-weight: 500;
    font-size: 2.335rem;
    margin: 5% 0% 1% 0%;
}

.mdc-card.top .mdc-typography--headline6 {
    margin: 0% 0% 0% 0%;
}
.elevation-demo-container.foot {
    float: left;
    display: flex;
}
.elevation-demo-surface {
    display: inline-flex;
    justify-content: space-around;
    /* min-height: 100px; */
    min-height: 70px;
    min-width: 200px;
    margin: 20px;
    align-items: center;
    background-color: white;
    box-shadow:  0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    vertical-align: -webkit-baseline-middle;
}
.elevation-demo-surface:hover {
    border: 1px solid #E19DBF;
    cursor: pointer;
}

.elevation-demo-surface.chanel {
    justify-content: flex-start;
    margin: 0;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
    min-height: 70px;
}

/* .elevation-demo-surface .mdc-checkbox {
    padding: 15px 25px 30px 25px;
    margin: 5px 0px 0px 0px;
} */
.elevation-demo-surface img {
    padding: 7px 10px 7px 8px;
    width: 8%;
}
elevation-demo-surface p {
    padding: 4px 11px 0px 11px;
}

.elevation-demo-container p.heading {
    font-weight: bolder;
    font-size: 1.12rem;
    color: #413EA5;
    text-align: start;
}
.mat-menu-item .menus {
    font-weight: 500;
    font-size: 1.12rem;
    color: #1D1A94;
    text-align: start;
}
.elevation-demo-surface p.mdc-typography--headline6 {
    margin: -10px 0 10px 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #1D1A94;
}
.mat-menu-item {
    display: initial;
    line-height: 25px;
}
.mat-menu-panel {
    max-width: 228px !important;
    border: 1px solid #E19DBF;
}
.elevation-demo-container label.heading {
    font-weight: bolder;
    font-size: 18px;
    color: #2222ae;
    text-align: center;
    cursor: pointer;
    padding: 0% 20px 0% 20px;
}
.mdc-card {
    background-color: #F0F0F0;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.footer {
    height: 100px;
}
.mdc-card.footer {
padding: 0% 0% 3% 0%;
background-color:white;
}
.mdc-chip.go-back {
    margin: 20% 0 0 0 !important;
}
.mdc-typography--headline6 {
    color: #797979;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5% 0% 1% 0%;
}
.industry {
margin: 0px 10% 0px 10%;
}

.mdc-chip-set {
    padding: 5% 0% 0% 0%;
}
.mdc-chip-set.working {
    padding: 0% 0% 0% 0%;
}
/* .mdc-chip {
    background-color: #9e9e9e12;
} */
.elevation-demo-surface fa-icon {
    padding: 5px 11px 0px 11px;
    font-size: 25px;
    color: grey;
}
.or {
    padding: 8% 0% 8% 0%;
}
.mdc-chip.go-back {
    background-color: #FFFFFF;
    padding: 7px 19px;
    margin: 13% 0px 0px 0px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.mdc-chip.request-quote {
    padding: 0px 27px;
    font-size: 13px;
    font-weight: 500;
    background-color: #9e9e9e99
}
.mdc-text-field {
    height: 45px;
    width: 48px
}
.mat-mini-fab {
    width: 26px;
    height: 26px;
    margin: 0px 4px 0 4px;
}
/* mat-mini-.faIc fab fa-icon {
    padding: 0px 0px 0px 4px;
    font-size: 14px;
} */
.mi-btn {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: none;
    background-color: #FA60AD;
	margin: 5px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    cursor: pointer;
}
.mi-btn.minus{
background-color: #DADADA
}
.mi-btn fa-icon {
    font-size: 14px;
    padding: 0px 1px 0px 1px;
}
.mi-btn.minus fa-icon {
    color: black
}
.mi-btn.plus fa-icon {
color: white
}
.mdc-card .right-chips {
    display: inline-flex !important;
    position: absolute;
    right: 8%;
}

.mdc-typography--headline6.target-type.select {
    padding-right: 8%;
    color: #4341A6;
    font-weight: 600;
}
.seldsel {
    display: flex;
     padding: 3% 10% 0% 35%
}
mat-menu .workhr {
    display: flex
}
.workhr i {
    padding: 5% 0 0 7%;
    font-size: 25px;
    color: #8E8CC9;
}
.workhr .mdc-typography--headline6.target-type {
    padding: 0px 37% 0% 18%;
}
.countrySel {
    display: flex;
}
.countrySel .seldsel {
    display: flex;
    padding: 2% 0% 0% 10%;
}
.countrySel i {
    padding: 5% 0% 0% 0%;
    font-size: 25px;
    color: #A2A0D3;
}
.countrySel .mdc-typography--headline6.target-type {
    padding: 0 0 0 10%;
}
.or.cost {
display: flex;
padding: 5% 0 0 0;
}
.or.cost .mdc-typography--headline5 {
    margin: 6px 14px 0px 14px;
    font-weight: 600;
}
.elevation-demo-surface.chanel mat-checkbox {
    margin: 0 0 0 12%;
}
input[type=number].mdc-text-field__input.num::-webkit-inner-spin-button, 
input[type=number].mdc-text-field__input.num::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}