<div class="mdc-card header">
  <div class="head-container">
    <div class="logo-content">
      <div class="logo">
          <a routerLink="/">
        <img src="../assets/images/logo-white.png" alt="company-logo">
        </a>
        <div class="ver-line"></div>
        <div class="content">
            <span class="mdc-typography--headline6">SUPPORT ON DEMAND</span>
        </div>
        <div class="sign-in">
          <button>SIGN IN</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdc-card top">
  <div class="industry">
    <div class="elevation-demo-container">
      <h4 class="mdc-typography--headline4">Select Attributes</h4>
      <h6 class="mdc-typography--headline6">Tell us about the kind of team you're looking to setup.</h6>
    </div>
  </div>
</div>
<div class="attributes">
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">What are your target industry, region and language? </h6>
      <div class="elevation-demo-container">
        <div class="target">
          <div class="elevation-demo-surface" [matMenuTriggerFor]="menu">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/factory copy.png">
            <div class="text-d">
              <h6 class="mdc-typography--headline6 target-type">Target Industry</h6>
              <p class="mdc-typography--headline6">Automative</p>
            </div>
            <!-- <fa-icon [icon]="faAngleDown" style="padding: 4px 11px 0px 11px;"></fa-icon> -->
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <mat-menu #menu="matMenu" class="indusrty">
              <button mat-menu-item>
                <p class="menus">Europe</p>
              </button>
              <button mat-menu-item>
                <p class="menus">North America</p>
              </button>
              <button mat-menu-item>
                <p class="menus">Asia</p>
              </button>
            </mat-menu>
          </div>
          <div class="elevation-demo-surface target" [matMenuTriggerFor]="menuCountry">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/world copy.png">
            <div class="text-d">
              <h6 class="mdc-typography--headline6 target-type">Target Countries</h6>
              <p class="mdc-typography--headline6">USA</p>
            </div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <mat-menu #menuCountry="matMenu" class="country">
              <button mat-menu-item (click)="$event.stopPropagation();">

                  <div class="countrySel">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                      <h6 class="mdc-typography--headline6 target-type">
                        Europe</h6>
                      <div class="seldsel">
                        <h6 class="mdc-typography--headline6 target-type select">
                          Select All</h6>
      
                        <h6 class="mdc-typography--headline6 target-type select">
                          Deselect All</h6>
                      </div>
                    </div>
              </button>

              <button mat-menu-item (click)="$event.stopPropagation();">
                <i class="fa fa-search" aria-hidden="true"></i>
                <mat-form-field>
                  <input matInput placeholder="search countries">
                </mat-form-field>
              </button>
              <button mat-menu-item *ngFor="let country of countries" (click)="$event.stopPropagation();">
                <mat-checkbox>{{country}}</mat-checkbox>
              </button>
            </mat-menu>
          </div>
          <div class="elevation-demo-surface" [matMenuTriggerFor]="menuLang">
            <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/language.png">
            <div class="text-d">
              <h6 class="mdc-typography--headline6 target-type">Target Languages</h6>
              <p class="mdc-typography--headline6">
                English Hindi
                <!-- {{language.optionSelected.option.lenght}} -->
              </p>
            </div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <mat-menu #menuLang="matMenu" class="targetLang">
              <!-- <mat-selection-list #language>
                        <mat-list-option *ngFor="let lang of targetLanguage">
                          {{lang}}
                        </mat-list-option>
                      </mat-selection-list> -->
              <!-- <mat-nav-list id="language">
                <mat-list-item *ngFor="let lang of targetLanguage">
                  <mat-checkbox [value]="lang">
                    {{ lang }}
                  </mat-checkbox>
                </mat-list-item>
              </mat-nav-list> -->
              <!-- <mat-nav-list id="language">
                          <mat-list-item *ngFor="let lang of targetLanguage">
                              <mat-checkbox attr.value='{{lang}}' (click)="updatelang($event)">{{ lang }}</mat-checkbox>
                          </mat-list-item>
                        </mat-nav-list> -->
                        <button mat-menu-item *ngFor="let lang of targetLanguage" (click)="$event.stopPropagation();">
                            <mat-checkbox>{{lang}}</mat-checkbox>
                          </button>

            </mat-menu>
          </div>

          <!-- <div class="elevation-demo-surface">
                <img src="../../assets/images/FireShot Capture 353 - Select Attributes_1 - projects.invisionapp.com.png">
                <div class="text-d">
                <h6 class="mdc-typography--headline6 target-type">Target Languages</h6>
                <p class="heading" >
                     English Hindi
                  </p>
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <mat-form-field>
                    <mat-label>Languages</mat-label>
                    <mat-select [formControl]="languages" multiple>
                      <mat-option *ngFor="let lang of targetLanguage" [value]="lang">{{lang}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">Which chanel would you like to cover?</h6>
      <div class="elevation-demo-container">
        <div  class="elevation-demo-surface chanel">
          <!-- <div class="mdc-checkbox">
            <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-1" />
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
          <label class="heading" for="checkbox-1">Phone</label> -->
          <mat-checkbox class="surface">Phone</mat-checkbox>

        </div>
        <div  class="elevation-demo-surface chanel">
          <!-- <div class="mdc-checkbox">
            <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-2" />
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
          <label class="heading" for="checkbox-2">Email</label> -->
          <mat-checkbox class="surface">Email</mat-checkbox>
        </div>
        <div  class="elevation-demo-surface chanel">
          <!-- <div class="mdc-checkbox">
            <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-3" />
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>

          <label class="heading" for="checkbox-3">Chat</label> -->
          <mat-checkbox class="surface">Chat</mat-checkbox>

        </div>
        <div  class="elevation-demo-surface chanel">
          <!-- <div class="mdc-checkbox">
            <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-4" />
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
          <label class="heading" for="checkbox-4">Social Media</label> -->
          <mat-checkbox class="surface" [(ngModel)]="checked">Social Media</mat-checkbox>

        </div>
        <div class="elevation-demo-surface" [matMenuTriggerFor]="socialMedia" #menuTrigger="matMenuTrigger" style="height: 40px;" *ngIf="checked">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/language.png" style="width: 6%">
          <div class="text-d">
            <h6 class="mdc-typography--headline6 target-type">Social Media Platforms</h6>
            <p class="mdc-typography--headline6" style="font-size: 0.9rem">Facebook, Twitter, LinkedIn</p>
          </div>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
          <mat-menu #socialMedia="matMenu" class="targetSocial">
            <button mat-menu-item *ngFor="let socilaM of socilaMedia" (click)="$event.stopPropagation();">
              <mat-checkbox>{{socilaM}}</mat-checkbox>
              <!-- <p class="menus" >Armenia</p> -->
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-card">
    <div class="industry">
      <h6 class="mdc-typography--headline6">What will be your project duration and number of agents?</h6>
      <div class="elevation-demo-container">
        <div  class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/multiple-11.png" alt="agents">
          <p class="mdc-typography--headline6" style="margin: 10% 0 10% 0;">No. of Agents</p>

          <button class="mi-btn minus" (click)="decrementNumber()">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
              <input type="number" value="0" class="mdc-text-field__input num" aria-label="Label" #inc>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <button class="mi-btn plus" (click)="incrementNumber()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
        </div>
        <div class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/check-in.png" alt="Project duretions">
          <div class="text-d">
            <h6 class="mdc-typography--headline6 target-type">Project Duration</h6>
            <!-- <p class="mdc-typography--headline6">12/01/19-13/01/19</p> -->
            <!-- <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'>
            </ejs-daterangepicker> -->
            <ejs-daterangepicker id='daterangepicker' format='dd--MM-yyyy' placeholder='Select a range'>
              </ejs-daterangepicker>
            <!-- <mat-menu #availAgents="matMenu" class="agents" (click)="$event.stopPropagation();">
              <p>Checking available agents</p>
              <p>Agents available/p>
            </mat-menu> -->
            
          </div>
          <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
        </div>
        <!-- date selections range example -->

        <!-- <div class="demo-main">

            <div class="demo-box">
              Selected date from: {{range.fromDate|date}} to: {{range.toDate|date}} 
            </div>
            <button (click)="reset()">Reset Dates</button>
            <hr class="demo-rule">
            <div class="demo-box">
              <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #pickerOne>
              </ngx-mat-drp>
              
            </div>
          
          </div> -->
        <div class="elevation-demo-surface" [matMenuTriggerFor]="wdays" style="min-width: 300px;">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/time-clock.png" alt="working hrs">
          <div class="text-d">
            <h6 class="mdc-typography--headline6 target-type">Working days & Hour</h6>
            <p class="mdc-typography--headline6">Mon-Fri,9-7</p>
          </div>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
          <mat-menu #wdays="matMenu" class="workingdays">
            <button mat-menu-item (click)="$event.stopPropagation();">
              <div style="display: flex">
                <h6 class="mdc-typography--headline6 target-type">
                  Working Days</h6>
                <div class="seldsel">
                  <h6 class="mdc-typography--headline6 target-type select">
                    Select All</h6>

                  <h6 class="mdc-typography--headline6 target-type select">
                    Deselect All</h6>
                </div>
              </div>
            </button>
            <button mat-menu-item *ngFor="let day of days" (click)="$event.stopPropagation();" [matMenuTriggerFor]="whrs">
              <mat-checkbox>{{day}}</mat-checkbox>
            </button>
            <button mat-menu-item>
              <div class="mdc-chip-set working">
                <div class="mdc-chip request-quote" tabindex="0" style="background-color: #FA60AD;">
                  <div class="mdc-chip__text">
                    SELECT WORKING HOURS</div>
                </div>
              </div>
            </button>
          </mat-menu>

          <mat-menu #whrs="matMenu" class="workingHrs">
              <div class="workhr" style="display: flex">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <h6 class="mdc-typography--headline6 target-type">
                  Working Hours</h6>
              </div>
              <div style="display: flex"  (click)="$event.stopPropagation();">
                <h6 class="mdc-typography--headline6 target-type" style="padding: 0 6% 0 6%">
                  From</h6>
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                  <input type="text" class="mdc-text-field__input" aria-label="Label">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                    <!-- <mat-select>
                      <mat-option value="10">10</mat-option>
                      <mat-option value="12">12</mat-option>
                      <mat-option value="14">14</mat-option>
                      <mat-option value="16">16</mat-option>
                      <mat-option value="18">18</mat-option>
                      <mat-option value="20">20</mat-option>
                    </mat-select> -->
                <h6 class="mdc-typography--headline6 target-type" style="padding: 0 10% 0 10%">
                  to</h6>
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                  <input type="text" class="mdc-text-field__input" aria-label="Label">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                    <!-- <mat-select>
                      <mat-option value="10">10</mat-option>
                      <mat-option value="12">12</mat-option>
                      <mat-option value="14">14</mat-option>
                      <mat-option value="16">16</mat-option>
                      <mat-option value="18">18</mat-option>
                      <mat-option value="20">20</mat-option>
                    </mat-select> -->
              </div>
              <div class="mdc-chip-set" style="text-align: left">
                  <div class="mdc-chip request-quote" tabindex="0" style="background-color: #FA60AD;">
                    <div class="mdc-chip__text">
                      Save</div>
                  </div>
                </div>
            </mat-menu>
        </div>

        <div class="elevation-demo-surface">
          <img src="../../assets/images/inspect/customer_support_platform/Page 1/Select_Attributes_1/world-2.png" alt="time zone">
          <div class="text-d">
            <h6 class="mdc-typography--headline6 target-type">Time Zone</h6>
            <p class="mdc-typography--headline6">GMT + 2</p>
          </div>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>


      </div>
    </div>
  </div>

  <div class="mdc-card footer">
    <div class="industry">
      <div class="elevation-demo-container foot">
        <div class="mdc-chip-set">
          <div class="mdc-chip go-back" tabindex="0">
            <div class="mdc-chip__text" style="color:black" (click)="goBack()">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
              GO BACK
            </div>
          </div>
        </div>
        <div class="right-chips">
            <div class="or cost" style="display: flex; padding: 5% 0 0 0">
                <h6 class="mdc-typography--headline6 target-type" style="font-size: 0.8rem">Estimated cost:</h6>
                <h5 class="mdc-typography--headline5 target-type">$6k</h5>
            </div>
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #FA60AD;" routerLink="/review-request">
              <div class="mdc-chip__text">
                REQUEST A QUOTE</div>
            </div>
          </div>
          <div class="or">
            or
          </div>
          <div class="mdc-chip-set">
            <div class="mdc-chip request-quote" tabindex="0" style="background-color: #23138E;" routerLink="/review-request">
              <div class="mdc-chip__text">
                READY TO ORDER</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

 
</div>